A:link      { color:000000; }
A:visited   { color:444444; }
A:hover     { color:777777; }
BODY        { color:000000; background-color:FFFFFF; font:normal 10pt Arial; scrollbar-Arrow-Color: #DDFF00; scrollbar-Highlight-Color: #DDFF00; scrollbar-3d-Light-Color: #AACC00; scrollbar-DarkShadow-Color: #000000; scrollbar-Track-Color: #7CB021; scrollbar-Base-Color: #336600 }
H3          { margin-bottom:2;padding-bottom: 0; }
BLOCKQUOTE  { margin-top:5;padding-top: 5; margin-bottom:12;padding-bottom: 12; }
TH          { font:bold 9pt Arial; background-color:80C040; color:FFFFFF;  }
TD          { font:normal 9pt Arial;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;margin-right:0;padding-right:0; }
FORM        { margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0; }
INPUT       { color:000000; background-color:FFFFFF; font:normal 8pt Arial; }
TEXTAREA    { color:000000; background-color:FFFFFF; font:normal 8pt Arial; }
SELECT      { color:000000; background-color:FFFFFF; font:normal 8pt Arial; }
.TOOLTIP    { position:absolute; font: normal 8pt Arial; padding: 0 3; border: 1px solid #000000; background: #FFFFEE; z-index:999999; }
.ROW0A      { background-color:FFFFFF; }
.ROW1A      { background-color:E0FFB0; }
.ROW0       { background-color:FFFFFF; FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FFFFFF, endColorstr=#E0FFB0) }
.ROW1       { background-color:E0FFB0; FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FFFFFF, endColorstr=#E0FFB0) }
.HAND       { cursor:hand; }
.ROWHEAD    { border-bottom:2px solid black; font-style:italic; cursor:default}
.ROWFOOT    { color:777777; font-style: italic; font-weight:bold; }
.MENUSTYLE  { position:absolute; background-color:#FFFFFF; color:000000; font:normal 10pt Arial; border:2px outset #000000; }
.MENUTEXT   { cursor:default; background-color:#FFFFFF; color:000000; font:normal 10pt Arial; }
