<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 

title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>



</td><td><H2>News!</H2>

<P>The latest information for Xbox artists.</P>

<BR>

<P><B>Art Newsgroup Created</B><P>

<P>In reaction to requests from developers, an art newsgroup has been created on Xbox Central. This forum can be used to ask questions, discuss art and graphics issues, and share insights with other artists who are working on Xbox games. As with all newsgroups, the comments and information exchanged is not screened for accuracy by Microsoft. I will be monitoring the newsgroup and will chime in if I have anything to offer. To join the art newsgroup, go to the newsgroups section from the main menu and follow the instructions to join.<BR><BR>

- Dave McCoy, Graphics Techniques Consultant, Xbox Advanced Technology Group</P>


<BR>

<SMALL>Wednesday, July 25, 2001</SMALL>



</td>


</TD>



	
