<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 
title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>



</td><td>
<H2>Cool Xbox Tricks</H2>
<P>Xbox introduces new technology that can enable you to do things in your games that you've never been able to do before. In "Setting the Bar," we introduce the unique features of each major Xbox component (graphics, CPU, audio, hard disk, network, etc.). In "Raising the Bar," we delve into how these features can be put to use in different types of games to expand gameplay opportunities.</P>

<BR>

<H3>Setting the Bar</H3>
<UL>
<P><a href="/BPProgInfo.asp?Page=content/cdcentral_art_wp_10graphicsfeatures.htm" title="Ten Graphics Features That Will Supercharge Your Xbox Game"><B>Ten Graphics Features That Will Supercharge Your Xbox Game</B></a></P>
<P><a href="/BPProgInfo.asp?Page=content/cdcentral_audio_wp_10audiofeatures.htm" title="Ten Audio Features That Will Supercharge Your Xbox Game"><B>Ten Audio Features That Will Supercharge Your Xbox Game</B></a></P>
</UL>

<H3>Raising the Bar</H3>
<UL>
<P>There are currently no white papers to display.<P>
</UL>
<BR>

</td>





	
