<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 
title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>



</td><td>
<H2>Meet the Xbox Content and Design Team</H2>

<P><B>Scott Selfon (Audio Content Consultant, Xbox Content and Design Team)</B></P>

<P><img src="/content/img/scott.jpg" border="0" ALIGN="left" width="87" height="90" alt="Scott" STYLE="margin-right:15;">Scott has been active in music composition since the age of 8, and his first (student) film score was completed at the age of 13. He has composed for a wide range of media, including film and television, PC titles and miscellaneous multimedia. Among his most recent projects are: Seattle International Film Festival's Fly Filmmaking program, "Over Your Head" (independent short), "Robit" for SIGGRAPH, collaborative work on VR-1 Crossroads (the first online title to support DirectMusic), and sample content for the DirectX SDK. Scott has also created a number of live performance works for acoustic and electronic instruments.</P>

<P>Scott is the artistic director, arranger, and (grudging) baritone of an a cappella group at the University of Washington, as well as the principal violist in the Sammamish Symphony, the Puget Sound Symphony, and the Microtones String Quartet.</P>

<P>Prior to joining the Xbox team, Scott served as the test lead for DirectMusic Producer and DirectX Audio Scripting. Previously, he was a Program Manager on the MSN Creative Audio team, which focused on the sonification of web content using interactive soundtracks.</P>

<P>Scott is a graduate of the University of Southern California, where he obtained dual degrees in Music Composition (film scoring emphasis) and Computer Engineering/Computer Science.</P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_bios.htm" title="Chanel Summers"><B>Chanel Summers</B></a> | <a href="/BPProgInfo.asp?Page=content/cdcentral_dave.htm" title="Dave McCoy"><B>Dave McCoy</B></a></P>

<BR>

</td>





	
