<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 

title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>


<BR>
<BR>
</td><td><STYLE>
table.tblconcept
	{
	width: 70%;
	background: #999999;
	margin-top: .6em;
	margin-bottom: .3em;
	}
table.userdata td 
	{
	background: #ffffff;
	background-color: #F5F5F5;
	border-color: #ffffff;
	border: none;
	}	
table.tblconcept th
	{ 
	padding: 4px 8px;
	background: #cccccc;
	text-align: left;
	font-size: 70%;
	vertical-align: bottom;
	
	}
		
table.tblconcept td
	{ 
	padding: 4px 8px;
	background: #ffffff;
	vertical-align: top;
	font-size: 70%;	
	}
</STYLE><H2>DirectMusic Producer Components</H2>

<H4><A NAME=Script>Script</A></H4>

<P>Scripts are collections of little programs (routines) that implement audio in your game. Audio Scripts can tie into game events and survey game state variables (e.g., player health) to make appropriate musical or sound decisions. If the sound designer/composer wants to control playback, he can create a script file that manages the way the audio content is played. Scripts allow the sound designer/composer to work with a more simplified language, and provide them with much more control in actually implementing music and sound effects in interactive situations.
<BR>
<BR>
<P>Double-clicking the internal icon of a Script file in the project tree opens Script Designer and displays a window similar to the following:</P>


<IMG src="/content/img/script_designer.gif" WIDTH="529" HEIGHT="445" BORDER="0" ALIGN="MIDDLE" ALT="Script designer">
<BR>
<BR>


<br>

<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_contributes2.htm" title="DirectMusic Producer Components Table">Back to Components table</A><BR>

<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_main.htm" title="DirectMusic Producer Components">DirectMusic Producer Components Home</A><BR><BR>
<BR><SMALL>Friday, July 21, 2000</SMALL>

</td>