<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 

title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>

</td><td><STYLE>
table.tblconcept
	{
	width: 70%;
	background: #999999;
	margin-top: .6em;
	margin-bottom: .3em;
	}
table.userdata td 
	{
	background: #ffffff;
	background-color: #F5F5F5;
	border-color: #ffffff;
	border: none;
	}	
table.tblconcept th
	{ 
	padding: 4px 8px;
	background: #cccccc;
	text-align: left;
	font-size: 70%;
	vertical-align: bottom;
	
	}
		
table.tblconcept td
	{ 
	padding: 4px 8px;
	background: #ffffff;
	vertical-align: top;
	font-size: 70%;	
	}
</STYLE>


<H2>DirectMusic Producer Components</H2>

<H4><A NAME=Container>Container</A></H4>

<P>A Container can be used to package together several music files into a single file that you can deliver to a developer for use in an application. A Segment can be a Container. You can create a Container file in the project tree and then insert references to any number of components into the folders of the Container. After creating a large number of components in a project, you can collect into a Container a set of references to only the files that are necessary for playing a particular DirectMusic Producer piece without actually moving files from their places in the project. For example, if you create a project with several Segments, Styles, Bands, DLS collections, and Audiopaths, you may want to put together a small group that includes only one from each of those component types and deliver them as a single run-time file to a developer. Without moving any of the five components from its original position in the project tree, you can insert a reference to each component in the Embed Runtime folder of a Container. Then you can save a run-time copy of the Container so that a copy of each referenced component is included in the Container run-time file.
<BR>
<BR>
<P>The run-time file is a complete package containing all the components necessary for playing music the way you designed it. By placing only a reference to the components you want in a Container, you create small collections of components for specific uses without making multiple copies of the components in a project tree. When you save a run-time file of the Container, a full copy of each component in the Embed Runtime folder is included in the run-time file of the Container. This simplifies the final delivery process of shipping a single file to the developer, ensuring that all of the needed files are available with much less effort on the part of the developer and without worry about references to other files outside the Container.
<BR>
<BR>
<P>Script files implicitly include a Container to reference or embed the objects they want to use.
<BR>
<BR>


<br><A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_contributes2.htm" title="DirectMusic Producer Components Table">Back to Components table</A><BR>

<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_main.htm" title="DirectMusic Producer Components">DirectMusic Producer Components Home</A><BR><BR>
<BR><SMALL>Friday, July 21, 2000</SMALL>

</td>