<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 

title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>



</td><td>

<H2><B>Tips, Tricks, and Techniques for DirectMusic Producer</B></H2>
<P><I>By Chanel Summers, Worldwide Creative Manager, Xbox Content and Design Team</I></P>

<P><SMALL>Microsoft Confidential</SMALL></P>

<P>We have compiled this list of tips, tricks, and techniques to use when working with Microsoft&#174; DirectMusic&#174; Producer, the content creation tool for DirectMusic. We will add more tips and information on a regular basis, so please check this paper for any updates we may have made. If you have any suggestions for more tips, please send e-mail to <a href="mailto:content@xbox.com">content@xbox.com</a>.<P>
<OL>
<LI><I>Use part linking to minimize file size.</I><BR>
Whenever an element is to be reused as is in styles &#40;that is, a drum groove, comping figure, and so forth&#41;, don&#39;t copy and paste; instead, create a part link &#40;right click, then click <B>Add Pattern Part(s)</B> from the shortcut menu that appears, then choose <B>Link to Existing Part&#8230;</B> from the dialog. Finally, choose the part to link the new part to from the <B>Link to Existing Part</B> list&#41;. This has the added benefit of only storing a single copy of the data, so editing one part will alter every other part that is linked to it.</LI>
<BR><BR>
<LI><I>Mix and match extended wave files with short &#40;single note&#41; instrumental samples as the creative circumstance dictates.</I>
<BR>
With DirectMusic, it&#39;s not an either/or proposition. Where the performance cannot be encapsulated into single samples &#40;such as a sax solo&#41;, go ahead and incorporate &#34;mini performances&#34; into the mix as wave tracks or longer Downloadable Sounds (DLS) samples&#8212;both options give you the ability to trigger the wave at different speeds/pitches and volumes, as well as to control the wave's playback through MIDI controller curves.</LI>
<BR><BR>
<LI><I>Add a chord track to a sequence track (or wave track) so that interactive elements can be added.</I>
<BR>
This is a fairly easy way to get into interactivity&#8212;the underlying music remains a static linear sequenced file or an audio file. Secondary segments can then be layered on top and are shaped harmonically by the chord track. Adding a chord track won&#39;t modify its sequence track &#40;all notes will still play as authored&#41;.</LI>
<BR><BR>
<LI><I>Add a groove track to a segment and author convincing transitions to your project's other pieces of music.</I>
<BR>
Every bar might be a different groove, so the music at bar 5 would have a fill of groove 5 to match the melody or intensity of the current music.</LI>
<BR><BR>
<LI><I>Use part locking &#40;available in each part's Properties page&#8212;<B>Variations</B> frame, <B>Lock ID</B> drop-down menu&#41; to fatten up thinner sounds or to create flange/delay effects while still maintaining the variability in your performance.</I></LI>
<BR><BR>
<LI><I>Create secondary segments with volume control changes to interactively shape the mix.</I>
<BR>
This can be used to bring in/out certain elements that match the drama of the music. It can also be used to fade smoothly from one texture to another while keeping the form intact.</LI>
<BR><BR>
<LI><I>Gradually combine sound effects into a rhythmic pattern that takes on musical characteristics.</I> &#40;See Bookmark #16, &#34;Motifs in Context,&#34; in the DirectMusic Producer 8.0 project for an example of this.&#41;</LI>
<BR><BR>
<LI><I>Create musical textures by combining only secondary segments, each with its own length and time signature.</I>
<BR>
The multiple secondary segment toolbar is very handy for auditioning these kinds of segments in Producer.</LI>
<BR><BR>
<LI><I>Create different numbers of variation in each part.</I>
<BR>
For example, the drums might have three variations, the bass five, the sitar eight. Different juxtapositions keep the resulting music fresh.</LI>
<BR><BR>
<LI><I>Use the different variation modes for different parts</I><BR>
For instance:
<UL>
<LI>Use the &#34;playing from sequence from first&#34; feature if you want a bass groove that &#34;develops" over variations. </LI>
<LI>If your variations for the flute part tend to overlap and develop in a specific order, try using the &#34;play in sequence from random&#34; feature.</LI>
<LI>For sound effects where you don't want to hear the same version of an effect twice in a row, try using the &#34;no repeats&#34; feature. </LI>
<LI>For very recognizable content &#40;dialog, for instance&#41; in which you might want to make sure the user hears every variation before the content repeats, try using the &#34;shuffle&#34; feature. </LI>
</UL></LI>
<BR><BR>
<LI><I>Separate the elements of a musical performance into four categories that can be interactively reconstructed: the content &#40;rhythmic and melodic tendencies&#41;, the chords, the texture &#40;sparse or full&#41;, and the timbres &#40;the instruments&#41;.</I></LI>
<BR><BR>
<LI><I>Use random settings in velocity and start time.</I></LI>
<BR><BR>
<LI><I>Use inversion boundaries to give the illusion of voice leading for chordal parts.</I></LI>
</OL>
<br><br>
<BR>

<SMALL>Monday, January 29, 2001</SMALL>



</td>





	
