<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 

title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>

</td><td>
<h2>Common Models for User Interfaces</h2>

<p>In your game, it is frequently necessary to describe how the various buttons, thumbsticks, and directional pad of the Xbox Controller are utilized. For example, you may have a screen similar to the following:</p>

<img src="content/img/models1.jpg" width="632" height="480" alt="" border="0"><br><br>

<p>Here are some other common scenarios:</p>
<ul>
<li>You want to demonstrate how your new controller plugs into the Xbox. In your documenation, you include a picture of the Xbox and the new controllers being plugged in.</li>
<li>You want to tell players of your game that they have saved too many games on their memory unit. A 3-D model of the Xbox Memory Unit (MU) pops up with a message telling the players that they need to save their games on a different MU.</li>
</ul>

<p>To help developers with these kinds of scenarios, we have included the models below. For each model, there is a 3D-Studio Max file and its textures, which have been zipped together. To download the models, click on the links or pictures below.</p>

<table cellspacing="2" cellpadding="2" border="1">
<tr>
    <td><a href="download/xbox.zip"><b>Xbox Console</b></a></td>
    <td><a href="download/xbox.zip"><b><img src="content/img/models2.jpg" width="256" height="256" alt="" border="0"></b></a></td>
</tr>
<tr>
    <td><a href="download/duke.zip"><b>Xbox Controller</b></a></td>
    <td><a href="download/duke.zip"><b><img src="content/img/models3.jpg" width="256" height="256" alt="" border="0"></b></a></td>
</tr>
<tr>
    <td><a href="download/akebono.zip"><b>Xbox Controller S <br>(formerly Akebono)</b></a>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><a href="download/akebono.zip"><b><img src="content/img/models4.jpg" width="256" height="256" alt="" border="0"></b></a></td>
</tr>
<tr>
    <td><a href="download/Memory unit.zip"><b>Xbox Memory Unit</b></a></td>
    <td><a href="download/Memory unit.zip"><b><img src="content/img/models5.jpg" width="256" height="256" alt="" border="0"></b></a></td>
</tr>
</table>

</td>

</body>
</html>
