<TD valign="top" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 

title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>



</TD><td><H2>Xbox Differentiation Features</H2>

<P><small>Microsoft Confidential</small></P>

<P>From time to time, the Xbox team is asked for suggestions about how a developer might take advantage of the technical capabilities of the Xbox&#8482; video game console from Microsoft to differentiate the Xbox version of their game from versions produced for other platforms.</P>
<P>The following list is a sample of potential <U>technical</U> ideas for consideration. This does not include, of course, improvements to gameplay, such as new levels, characters, or storylines.</P>
<P>This list is also not exhaustive. Many improvements will be specific to the unique characteristics of individual titles. But perhaps this list will serve to encourage developers to think of a few simple things they might not have otherwise.</P>

<H3>Advanced Graphic Features</H3>
<P>The following features of the powerful Xbox GPU enable much higher-fidelity photorealistic graphics:</P>
<UL>
<LI>Higher polygon counts (two times or more relative to other next-generation consoles) or patch-based modeling for characters</LI>
<LI>Higher polygon counts (two times or more relative to other next-generation consoles) or patch-based modeling for world geometry</LI>
<LI>Larger levels and/or more intricate level design/geometry, using greater amount of RAM and/or temporary hard disk storage</LI>
<LI>Longer lines of sight in large or exterior environments without "pop in"</LI>
<LI>Geomods, morphs, level-of-detail (LOD) transparency fades, and other methods to prevent LOD popping</LI>
<LI>Use of more memory and hardware compression to achieve higher resolution textures relative to other next-generation consoles</LI>
<LI>Differentiated appearance of characters and levels through use of GPU, multitexturing, pixel shaders, and pixel registers to achieve advanced surface characteristics, such as multitexturing, bump mapping or dot three bump map shader, anisotropic filtering, simulated reflectance through environment mapping, hair, fur, and other volume texture effects, texture scrolling, texture morphing, texture scaling, blurs, and glows</LI>
<LI>Use of vertex shaders and GPU to achieve advanced animation appearance, such as advanced morphing, character skinning with vertex weight mapping, cloth simulation, facial animation, and lip sync</LI>
<LI>Advanced lighting and light effects, such as BRDF, shadow mapping and volumetric lighting, per-pixel attenuation, image projection, cube and other environment mapping, pixel shader effects, and glow maps</LI>
<LI>Advanced atmospheric or environmental effects, such as volumetric fog</LI>
<LI>Use of advanced particle systems to simulate fire, smoke, dust, water, and more</LI>
<LI>Use of image and object pre- and post-processing effects, such as ray-traced reflections, blurring, motion blurring, cell shading, refraction, and other advanced transparency effects</LI>
<LI>Use of full-scene anti-aliasing</LI>
<LI>Support for HDTV standards, from 480p up to 1080i in either 4:3 or 16:9 aspect ratios</LI>
</UL>

<H3>Advanced Simulation Features</H3>
<P>Use of the Xbox GPU and the Pentium's SSE instruction set significantly reduces CPU load for graphics production, leaving CPU performance for game simulation improvements:</P>
<UL>
<LI>More sophisticated artificial intelligence (AI) routines, such as neural net and other learning AI, increased situational awareness, and more sophisticated decision making</LI>
<LI>More complex and dynamic game environments </LI>
<LI>Larger game environments</LI>
<LI>Increased numbers of static and dynamic elements</LI>
<LI>Enhanced collision detection: increased accuracy or greater fidelity of kinetics</LI>
<LI>Enhanced physics simulation: greater fidelity or previously unavailable phenomena</LI>
</UL>

<H3>Advanced Audio Features: Sound Design</H3>
<P>The Xbox Media Communications Processor and Microsoft&#174; DirectX&#174; Audio application programming interfaces offer the following features that enable sound designers to achieve greater fidelity:</P>
<UL>
<LI>Real-time acoustically positioned audio sources, including real-time multi-speaker surround encoding of sound effects and music</LI>
<LI>Real-time audio effects processing, such as reverb and Interactive 3D Level 2 (I3DL2) occlusion and obstruction.</LI>
<LI>Dynamic soundscapes and sound effects that sound different every time they're played</LI>
<LI>Variable sound design, for example, an ambience activity level that reflects the game intensity based on a user's actions in the context of the game</LI>
<LI>Use of submixing to create more complex and lifelike sound sources that move in real time</LI>
</UL>

<H3>Advanced Audio Features: Music Scoring</H3>
<P>The features of the Xbox Media Communications Processor and DirectX Audio libraries enable musicians to achieve more immersive musical scores:</P>
<UL>
<LI>Variable, nonrepetitive music, whether digital audio or sequenced</LI>
<LI>Smooth transitions between musical cues</LI>
<LI>Use of musically appropriate motifs that trigger in time with the music and do not clash with the underlying emotion of the musical score</LI>
<LI>Self-modifying music: music that uses scripting features to determine how it should play, without outside influence </LI>
<LI>Use of Downloadable Sounds Level 2 (DLS-2) multi-layer regions to construct more complex instruments from multiple waves, which can play differently based on note velocity</LI>
</UL>
<H3>Advanced Hard Disk Uses</H3>
<P>Using the hard disk built into each and every Xbox console, developers can extend the features of their games by delivering these experiences to users:</P>
<UL>
<LI>Persistent "world state" between games or levels, for example, skid marks that remain on tracks in a racing game, or damage to the environment in a shooter</LI>
<LI>Dynamic audio commentary, for example, caching and streaming more diverse and expansive commentary or sound effects</LI>
<LI>Intelligent caching of levels and menus for improved load time compared to other consoles</LI>
<LI>Autosave of game state throughout the game</LI>
<LI>Persistence of incremental content features, whether distributed online or on disc</LI>
<LI>Very large levels or worlds (in excess of 64 MB of geometry and textures) streamed dynamically from the hard disk</LI>
<LI>Advanced saved game management features</LI>
<LI>Levels generated algorithmically based on user input, then stored for rapid playback</LI>
<LI>User customization and authoring of memory-intensive game elements, such as custom levels, or character skins, insignias, environment elements, and other bitmaps</LI>
<LI>Instant replays and in-game movies captured to the hard disk for later playback</LI>
<LI>Personalized ("ripped") music stored on hard disk for use from within a game</LI>
</UL>

<H3>Advanced Online Enhancements</H3>
<P>An integrated 100 megabits per second Ethernet connection enables linked Xbox-to-Xbox and online play with the following features:</P>
<UL>
<LI>Enhanced network gameplay and specialized multiplayer scenarios</LI>
<LI>Incremental download of new content, such as tracks, levels, missions, characters, statistics, and sharing content in user community</LI>
<LI>Voice chat and communication during multiplayer games</LI>
<LI>Online tournaments and leader boards</LI>
<LI>Intelligent matchmaking using game stats or other indicators of ability so that players are pitted against others of similar abilities</LI>
<LI>Worldwide and regional scorekeeping</LI>
<LI>Updates of current real world stats for sports simulations</LI>
<LI>Two to four players competing or cooperating on a single screen</LI>
<LI>Two to four players competing or cooperating on a split screen</LI>
</UL>

<H3>Xbox Controller Features</H3>
<P>Hardware functions:</P>
<UL>
<LI>Available controller features: analog thumbsticks (with integrated press-down triggers), pressure-sensitive buttons, fifth and sixth action buttons, vibration</LI>
</UL>
<P></P>
<UL>
<LI>Voice-activated command and control using optional voice headset to augment input</LI>
</UL>

<BR>

<SMALL>Monday, February 26, 2001</SMALL>



</TD>





	
