<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 
title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>



</td><td>
<H2>About Content and Design Central</H2>
<I>by Chanel Summers, Worldwide Creative Manager, Xbox Content and Design Team</I> (<A href="mailto:content@xbox.com">content@xbox.com</A>)</P>

<P>You may have noticed that the creation of the Xbox Content and Design Team was recently announced in the November issue of <a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider-Nov.">The Xbox Insider</a>. So in addition to having a developer support team comprised of technological experts who can work with game developers and resolve their programming questions, we have built a team of creative experts who can work with content creators. Specifically, here is what the Content and Design Team was created to do:</P>

<UL>
<LI>Consult with artists, designers, composers, sound designers.
<LI>Conduct training seminars.
<LI>Generate white papers and other documentation.
<LI>Create samples to demonstrate innovative techniques.
<LI>Work with tools providers and conduct research on new and interesting ways to make use of the power of the Xbox.
<LI>And, of course, we answer your questions.
</UL>

<P>The Xbox video game console is a very powerful platform that enables creative people to do things that they have never been able to do before in real time. The aim of this site is to address the unique features of the Xbox video game console, explain how you can exploit them to create great games, and illustrate how they can be used together to do new and cool things. We will delve into how you can take advantage of these features to create next-generation experiences, discussing specific examples of gameplay in various types of game genres. These issues will be addressed in best practices guides, white papers, and so on. Finally, this content has been organized into various sections, including the <a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Home">Designer/Producer's Corner</a>, the <a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Home">Artist's Corner</a>, and the <a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Home">Audio Designer's Corner</a>.</P><BR>

</td>





	
