<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 
title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>


</td><td>
<H3>White Papers &#8211 Audio Designer's Corner</H3>

<P>White papers are a great source of supplementary information. Check out what we have so far, and check back for additional white papers soon.</P>

<BR>

<P><B>General Content Authoring</B></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_audio_wp_surround.htm" title="The Surround Experience: Authoring for and Implementing Multichannel Audio Playback"><B>The Surround Experience:<br>
Authoring for and Implementing Multichannel Audio Playback</B></a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_audio_wp_ADPCMLoops.htm" title="Authoring Loop Points for Xbox ADPCM-Compressed Waves"><B>Authoring Loop Points for Xbox ADPCM-Compressed Waves</B></a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_audio_wp_tricks.htm" title="Cool Xbox Tricks"><B>Cool Xbox Tricks</B></a><BR>
Amaze Your Friends and Confound Your Enemies!</P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_audio_wp_ttt.htm" title="Tips, Tricks, and Techniques"><B>Tips, Tricks, and Techniques</B></a><BR>
Handy tips and tricks to help you make great Xbox games!</P>

<P><B>Audio Setup</B></P>

<P><A HREF="/BPProgInfo.asp?Page=content/cdcentral_audio_wp_MIDItriggering.htm" title="Using DirectMusic Producer to Trigger DLS Instruments from Non-DLS-Enabled Sequencers"><B>Using DirectMusic Producer to Trigger DLS Instruments from Non-DLS-Enabled Sequencers</B></A></P>

<P><A HREF="/BPProgInfo.asp?Page=content/cdcentral_audio_wp_dualboot.htm" title="Dual Booting a PC (Windows 9x and Windows 2000"><B>Dual Booting a PC (Windows 9x and Windows 2000)</B></A></P>

<P><B>Implementation</B></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_audio_wp_cutscenes.htm" title="Audio for Cutscenes: Authoring and Implementing 5.1 Audio in RAD Game Tools Bink Video"><B>Audio for Cutscenes: Authoring and Implementing 5.1 Audio in RAD Game Tools Bink Video</B></a><BR><I>New: posted 9/21/01</I></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_audio_wp_DSperf_jh.htm" title="DirectSound Performance"><B>DirectSound Performance</B></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<I>New: posted 9/20/01</I></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_audio_wp_DLS_FX.htm" title="Using DLS Collections for Sound Effects Management and Triggering"><B>Using DLS Collections for Sound Effects Management and Triggering</B></a></P>

<BR>
<P><B>DirectX Audio Scripting: Concepts and Implementation Solutions</B></P>

<P><A HREF="/BPProgInfo.asp?Page=content/cdcentral_audio_wp_bridging.htm" title="Bridging the Content-Coding Gap: An Introduction to DirectX Audio Scripting"><B>Bridging the Content-Coding Gap: An Introduction to DirectX Audio Scripting</B></A></P>

<P><A HREF="/BPProgInfo.asp?Page=content/cdcentral_audio_wp_intermediatescripting.htm" title="Intermediate Scripting Techniques: Variable Playback and Self-Modifying Music"><B>Intermediate Scripting Techniques: Variable Playback and Self-Modifying Music</B></A></P>

<P><A HREF="/BPProgInfo.asp?Page=content/cdcentral_audio_wp_dialog.htm" title="Talking the Talk: DirectX Audio Scripting Solutions for Dialog Scenarios"><B>Talking the Talk: 
DirectX Audio Scripting Solutions for Dialog Scenarios</B></A></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_audio_wp_crossfades.htm" title="Crossfade Solutions Using DirectMusic: Volume Controller Curves, Audiopaths, and DirectX Audio Scripting"><B>Crossfade Solutions Using DirectMusic:
Volume Controller Curves, Audiopaths, and DirectX Audio Scripting</B></a></P>


<BR>
<P><B>DirectMusic Content Authoring and DirectMusic Producer</B></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_audio_wp_gettingstarted.htm" title="Getting Started with DirectMusic Producer: MIDI and DLS Collections"><B>Getting Started with DirectMusic Producer: MIDI and DLS Collections</B></a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_audio_wp_variations1.htm" title="Variations: Adding Basic Variability to Audio Content in DirectMusic Producer"><B>Variations: Adding Basic Variability to Audio Content in DirectMusic Producer</B></a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_audio_wp_style.htm" title="Style-Based Playback: An Introduction to DirectMusic Style Files"><B>Style-Based Playback: An Introduction to DirectMusic Style Files</B></a></P>

<P><A HREF="/BPProgInfo.asp?Page=content/cdcentral_audio_wp_contentdelivery.htm" title="Delivering the Goods: File Management Tricks and Tips"><B>Delivering the Goods: File Management Tricks and Tips</B></A></P>

<P><A HREF="/BPProgInfo.asp?Page=content/cdcentral_audio_wp_articulations.htm" title="Creating DLS Articulations in DirectMusic Producer"><B>Creating DLS Articulations in DirectMusic Producer</B></A></P>

<P><A HREF="/BPProgInfo.asp?Page=content/cdcentral_audio_wp_audiopathconfig.htm" title="Working the Metal: Audiopath Configurations and the Xbox Media Communications Processor"><B>Working the Metal:
Audiopath Configurations and the Xbox Media Communications Processor</B></A></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_main.htm" title="DirectMusic Producer Components"><B>DirectMusic Producer Components </B></a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_DMP_tutorial_main.htm" title="DirectMusic Producer Tutorial"><B>DirectMusic Producer Tutorial</B></a></P>

<P><A HREF="/BPProgInfo.asp?Page=content/cdcentral_audio_wp_DMP_shortcuts.htm" title="Keyboard Shortcuts for DirectMusic Producer"><B>Keyboard Shortcuts for DirectMusic Producer</B></A></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_audio_wp_crossfades.htm" title="Crossfade Solutions Using DirectMusic: Volume Controller Curves, Audiopaths, and DirectX Audio Scripting"><B>Crossfade Solutions Using DirectMusic:
Volume Controller Curves, Audiopaths, and DirectX Audio Scripting</B></a></P>

<!--<P><a href="/BPProgInfo.asp?Page=content/wp_audio_main.htm" title="DirectMusic"><B>DirectMusic: A Foundation for Interactive Audio</B></a></P>-->


<BR>

</td>





	
