<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 

title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>
<BR>
<BR>
</td><td>

<H2>Avoiding the PC Look</H2>

<P><I>By Dave McCoy, Graphics Techniques Consultant, Xbox Content and Design 
Team</I></P>
<H3>Introduction</H3>
<P>Due to the nature of games that have dominated the PC market, as well as some of the characteristics of graphics accelerators, a style has emerged that is generally associated with PC game graphics.

<P>Graphics with this characteristic "PC look" are often perceived as dated and monotonous by the larger console gaming audience. When seen in a console game, this style of graphics can even be mistaken as indicative of a simple port of a product originally intended for PC.

<P>The Xbox&#8482 video game system from Microsoft is targeted at the larger console market, and so the "PC look" should be avoided by Xbox games. This article discusses several differences between PC and console graphics in an effort to help developers create visuals appropriate for the Xbox gamer.</P>
<p></p>
<br>
<p></p>
<H3>Palette</H3></p>
<p>One of the most obvious differences between the typical console and PC title is in the overall palette. Many PC games have desaturated colors, use more monochromatic color schemes, and are generally darker than most console games. </p>

<p>For legal reasons, I can't show actual game screens; however, I will show some distorted screens to allow comparison of palettes.</p>


<p>These screens are from several games that exhibit a PC-like appearance.</p>

<img src="/content/img/pc1.jpg" width="190" height="130" border="0" alt=""> 
<img src="/content/img/pc2.jpg" width="190" height="130" border="0" alt=""> 
<img src="/content/img/pc3.jpg" width="190" height="130" border="0" alt=""> 


<P>As you can see, the screens appear somewhat muted. Colors are less saturated and many large areas of color are similar in hue. The overall images are low contrast and fairly dark. Examining a luminosity histogram of these screens in Photoshop reveals the following graphs:</P>
<img src="/content/img/PCHistogram1.jpg" width="190" height="130" border="0" alt=""> 
<img src="/content/img/PCHistogram2.jpg" width="190" height="130" border="0" alt=""> 
<img src="/content/img/PCHistogram3.jpg" width="190" height="130" border="0" alt=""> 

<P>Even in the brightest image, the graph indicates a strong shift toward darker colors. In addition to making the images duller and darker, the tendency for values to be concentrated in a narrower range of luminosity results in lower overall contrast to the image, giving a more washed-out look.

<p>The following screens are from games that were judged to be less PC-like in appearance: </P>

<img src="/content/img/cn3.jpg" width="190" height="130" border="0" alt=""> 
<img src="/content/img/cn4.jpg" width="190" height="130" border="0" alt=""> 
<img src="/content/img/cn5.jpg" width="190" height="130" border="0" alt=""> 

<P>Here there is wide variance between colors, and form and shape are more clearly demarcated by different hues and values. The colors are generally brighter and more saturated. Here are the luminosity graphs of these images.</P>

<img src="/content/img/cn3Histogram.jpg" width="190" height="130" border="0" alt=""> 
<img src="/content/img/cn4Histogram.jpg" width="190" height="130" border="0" alt=""> 
<img src="/content/img/cn5Histogram.jpg" width="190" height="130" border="0" alt=""> 
<p>The graphs show a wider distribution of light and dark. This allows for greater contrast and dynamic range in the majority of the image area.

<p>While some of the reasons for the dominance of more muted color schemes in PC games have to do with technical aspects of earlier 3-D hardware and the color fidelity of RGB monitors vs. televisions, other reasons involve deliberate art direction choices.

<p>Many artists working on realistic-as opposed to stylized-computer games associate bright saturated colors with less realistic images produced by early CGI systems. They choose to use darker and less saturated palettes, believing that less saturated colors are more realistic. While it is often easier to integrate textures if less saturated colors are used, a lack of bright saturated colors is not representative of the color space found in real life. Consider the following distorted image: </P>

<img src="/content/img/KD.jpg" width="270" height="190" border="0" alt=""> 
<p>It has fairly bright saturated colors, and the luminosity graph indicates a fairly broad distribution of values. Generally, the image seems more typical of a console game. </P>
<img src="/content/img/KDHistogram.jpg" width="270" height="190" border="0" alt=""> 


<P>The image is actually just a picture of some kids at a local playground. This image was not chosen because it was particularly bright or colorful. The fact is that reality is typically a lot more colorful than the average PC game. </P>

<img src="/content/img/K.jpg" width="270" height="190" border="0" alt=""> 
<p></p>
<br>
<p></p>
<H3>Frame Rate</H3></p>
<P>PC game makers have always had to deal with supporting a broad range of hardware performance. They want to provide images that would the absolute best on the latest generation of PCs and graphics cards, but also have to support the majority of users who would be running on older equipment.

<P>Since it was virtually impossible to predict what the various configurations of a consumer PC would be, it was considered acceptable for consumers on lower-end machines to turn down some of the graphics features and make their own decision on what was an acceptable frame rate for playing the game. This led to a certain acceptance of lower and variable frame rates in PC games. 

<P>Console game makers, on the other hand, are developing for a specific fixed target. All consumers have exactly the same gear, and the game can be built to run optimally on that fixed platform. Under these circumstances, frame rate on console games has been treated as a visual standard as important as any other aspect of visual fidelity. 

<P>State of the art console games run at 60 Hz (50 PAL). This leads to a smoothness of motion and interaction that is often not achieved in PC games. Thus, lower frame rates are often perceived as part of the PC aesthetic and a sign of an older, less sophisticated product.

<P>Not all console games run at 60 Hz and this frame rate is not a certification requirement for Xbox games. In order to remain visually competitive however, games need amazing graphics to justify lower frame rates. Thus far, the games judged visually strongest in testing have universally been 60 Hz games. First-generation titles that cannot achieve this performance will be operating at a competitive disadvantage.

<P>Whatever the frame rate, frame hits, often tolerated on PC games, are not acceptable on a console product. A slower rock solid frame rate which never varies is always better than a faster frame rate with intermittent slow downs. Frame hits should be considered the worst thing that can happen to your game visually.
<p></p>
<br>
<p></p>
<H3>Static Views</H3></p>

<P>Console games rarely sustain completely static screens. For various reasons, there is usually some motion, even when no game events are occurring. Rest state animations are often quite complex. Background elements cycle or come and go. The camera changes view.

<P>PC games have tended to be more tolerant of completely static screens in the absence of player input. Camera views remain rock steady, background elements do not change, and rest-state animations, if they are present at all, are very simple.

<P>Console games take some of their scene motion cues from the arcade business. Arcade games are in perpetual attract mode whether someone is playing the game or not. While switching to a full attract mode might be inappropriate for a home game during a lull in player input, the idea that the game should always exhibit some motion and present a compelling, alive view is quite manifest in console games.

<P>The Xbox GPU custom-designed by NVIDIA&#174 allows for a lot of varied animation to be executed efficiently without taxing the CPU. In addition to appropriate rest-state animations, game developers should look for opportunities to include background animations to add life to their environments. Curtains and flags blowing in the wind. Trees and grass rustling. Traffic moving on roads. Clouds moving in the sky. Lights changing and beacons rotating. All these kinds of simple animations can help to add interest to scenes and immerse the player more fully in the game.
<p></p>
<br>
<p></p>
<H3>Moving Forward</H3></p>

<P>Until recently, PCs have had the edge on consoles in graphics performance. The latest generation of consoles now exceed the graphics capabilities of even the most cutting edge PC. These consoles vastly outperform the graphics capabilities of the median consumer PC that game developers must target. 

<P>The console games market has dwarfed the PC market for years, and console products are produced in much larger numbers than ever before. As such, much of the innovation in game graphics style has occurred on consoles, and the PC style of graphics has come to be seen as more of a niche.

<P>It is essential, as graphics capabilities of systems increase, that game developers explore new aesthetics and visual styles. We have seen this occurring on a number of Xbox games. Ultimately what will emerge will be unique and identifiable as fundamentally different from what has come before.</P>

<P>As always, please contact <A 
href="mailto:content@xbox.com">content@xbox.com</A> with any questions or 
suggested revisions or extensions to this paper.</P>


<BR><BR><SMALL>Wednesday, August 8, 2001</SMALL> 
</td>





	