<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 

title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>

<BR>
<BR>
</td><td>
<STYLE>
table.tblconcept
	{
	width: 70%;
	background: #999999;
	margin-top: .6em;
	margin-bottom: .3em;
	}
table.userdata td 
	{
	background: #ffffff;
	background-color: #F5F5F5;
	border-color: #ffffff;
	border: none;
	}	
table.tblconcept th
	{ 
	padding: 4px 8px;
	background: #cccccc;
	text-align: left;
	font-size: 70%;
	vertical-align: bottom;
	
	}
		
table.tblconcept td
	{ 
	padding: 4px 8px;
	background: #ffffff;
	vertical-align: top;
	font-size: 70%;	
	}
</STYLE><H2>DirectMusic Producer Components</H2>

<H3><A NAME="StyleComponents">Style Subcomponents</A></H3>

<P>Style components can contain three types of subcomponents:

<BR>
<BR>

<TABLE class="tblconcept">
	<TR VALIGN="top"><TH align=left><B>Component</B></TH><TH align=left><B>Subcomponent</B></TH><TH align=left><B>Description</B></TH></TR>

	<TR><td>Style</td><td>Band</td><td>A collection of instrument program changes and patch changes designed specifically to play the Style.</td></TR>

	<TR><td>Style</td><td>Pattern</td><td>A sequence of melodic and rhythmic figures. Patterns contain Parts (this is where the notes reside), and you can have up to 32 variations for each Part. Patterns can be earmarked to provide different levels of music intensity, or <I>Groove Levels</I>.</td></TR>

	<TR><td>Style</td><td>Motif</td><td>A melodic figure, usually brief, or a combination of sounds to layer over other music.</td></TR>

</TABLE>


<BR>
<BR>


<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_contributes2.htm" title="What Each Component Contributes to a Composition">What Each Component Contributes to a Composition</A><BR>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_main.htm" title="DirectMusic Producer Components">DirectMusic Producer Components Home</A><BR>
<BR>
<BR><p align="left"><SMALL>Friday, July 21, 2000</SMALL>

</td>


