<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 

title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>



</td><td>
<H2>3-D 2-D Wood Textures</H2>
<P><I>By Dave McCoy, Graphics Techniques Consultant, Xbox Content and Design Team</I></P>

<P>The Xbox&#8482; video game console from Microsoft allows for true 3-D textures. Three-D textures use a number of 2-D images and interpolate pixels between the 2-D textures along the third axis. Up to 256 textures can be linked to create a 3-D texture.</P>
<P>However, when creating wood surfaces, a single 2-D texture can be applied using 3-D projection, allowing for a lot of variety without using a lot of texture space.</P> 
<P>Everyone has seen the objectionable striping that occurs when a 2-D texture is plane projected through a solid. This simple tip takes advantage of that effect to assist in creating wood surfaces.</P>
<P>We start with a 2-D texture of some wood.</P>
<IMG src="/content/img/3d2dwood_figure1.gif">
<BR><BR>
<P>Just about any picture (or painting) of wood will work because of the way the texture is applied. It&#39;s better if the texture will tile in all directions as this one does, but it&#39;s not strictly necessary depending on how you use the texture. Some high-frequency detail helps because the texture is going to be stretched significantly.</P>
<P>Rather than plane mapping the texture flat onto a surface, project it edge on, but angled a few degrees. This stretches the texture through the length of the object.</P> 
<IMG src="/content/img/3d2dwood_figure2.gif">
<BR><BR>
<P>Because wood tends to have long, regular markings, the usually objectionable texture stretching with this projection winds up creating the distinctive appearance of wood with very little texture usage. You could just stretch a texture and get the same effect on one side, but a nice side effect of this approach is that the edges of the object show the tight grain of crosscut wood, and all sides of the object look correct and unique with one texture projection.</P>
<IMG src="/content/img/3d2dwood_figure3.gif">
<BR><BR>
<P>A definite bonus of this technique is that small changes in the angle and scaling used in projecting the texture produce a unique appearance to the wood surface that doesn&#39;t exhibit the usual tiling and resolution problems when trying to use one texture for objects of different scales. All three axes can be varied in scale and rotation, and a lot of variety is possible with just a single texture because the texture intersects the surface uniquely with each change.</P>
<P>Here is the same texture applied to a plank with minor changes to angle and scale.</P>
<IMG src="/content/img/3d2dwood_figure4.gif">
<BR><BR>
<P>While the Xbox certainly has sufficient texture memory to allow unique textures to be used to create variety, this approach keeps the number of texture files that need to be referenced and loaded to a minimum, which keeps resource size small and loading times fast. If you feel the need to use more texture memory, just use a really high-resolution wood texture. :&#94;) Naturally, for really high-fidelity wood, the same or a related texture and projection can be used as the basis for bump and specularity maps.</P>
<P>To increase authoring speed, the number of axially aligned objects can be quickly textured with a single projection using this approach. This can speed texturing of multiple objects without significant attention to avoiding texture tiling. Each object appears unique because of the interaction between the surface and the texture. This object was textured with two projections&#8212;one near vertical and the other near horizontal.</P>
<IMG src="/content/img/3d2dwood_figure5.gif">
<BR><BR>
<P>As a final advantage, this approach uses the same texture again and again without recognizable repetition but minimizes state changes that would occur if different textures were used to create the same variety. State changes can significantly slow drawing speed in high-complexity scenes on high-powered graphic systems.
If you have any questions or suggested additions or revisions, please send e-mail to <a href="mailto:content@xbox.com">content@xbox.com</a>.</P>

<BR>

<SMALL>Thursday, February 1, 2001</SMALL>



</td>





	
