<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 
title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>


</td><td>
<H3>Frequently Asked Questions &#8211 Audio Designer's Corner</H3>

<P>Check out this section for answers to your frequently asked questions about audio design for Xbox.</P>
<BR>
<P><B><A HREF="/BPProgInfo.asp?Page=content/cdcentral_audio_faq_mcp.htm">Xbox MCP FAQ</A></B>&nbsp;&nbsp;&nbsp;&nbsp;<I>(Updated 8/22/01)</I>
<BR>This FAQ contains information about the Xbox media communications processor (MCP).</P>

<P><B><A HREF="/BPProgInfo.asp?Page=content/cdcentral_audio_faq_dmp.htm">DirectMusic Producer FAQ</A></B>&nbsp;&nbsp;&nbsp;&nbsp;<I>(Updated 8/22/01)</I>
<BR>This FAQ contains information about the Microsoft<FONT SIZE="-1">&#174;</FONT> DirectMusic<FONT SIZE="-1">&#174;</FONT> Producer application, used to author and manage Xbox audio content.</P>


<BR>

</td>





	
