<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 

title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>

<BR>
<BR>
</td><td><STYLE>
table.tblconcept
	{
	width: 70%;
	background: #999999;
	margin-top: .6em;
	margin-bottom: .3em;
	}
table.userdata td 
	{
	background: #ffffff;
	background-color: #F5F5F5;
	border-color: #ffffff;
	border: none;
	}	
table.tblconcept th
	{ 
	padding: 4px 8px;
	background: #cccccc;
	text-align: left;
	font-size: 70%;
	vertical-align: bottom;
	
	}
		
table.tblconcept td
	{ 
	padding: 4px 8px;
	background: #ffffff;
	vertical-align: top;
	font-size: 70%;	
	}
</STYLE><H2>DirectMusic Producer Components</H2>


<H4><A NAME=Style>Style</A></H4>
 
<P>A Style component stores Patterns, embellishments, Motifs, and Bands. The combination of Patterns, embellishments, Motifs, and Bands can evoke certain music genres, such as Rock, Country, Jazz, Latin, and Funk. 
<BR>
<BR>
<P>Styles are at the heart of DirectMusic Producer and its ability to create variable music. A modest Style that uses only six instruments with each playing 16 variations of a Pattern has over 16 million potential playback combinations. However, a Style usually contains far more potential than this. A typical Style contains several Patterns for playback--providing a choice of phrase lengths, various intensity levels, and other options--and within each Pattern there can be as many as 32 variations for each instrument.
<BR>
<BR>
<P>A well-composed Style results in each Pattern Part selecting any one of several variations and playing it in combination with other variations in other Parts. Each time playback of the Style loops or repeats, a new combination of variations is selected. This creates a blend of all the Parts in changing combinations of variations that rarely repeat. 
<BR>
<BR>
<P>An important aspect of a Style is the encoded functionality or music value, in which all notes in a music Pattern can be transposed to fit any chord or scale.
<BR>
<BR>
<P>This diagram shows off the anatomy of a Style:
 

<BR>
<IMG src="/content/img/DMPC_StyleAna.gif" WIDTH="500" HEIGHT="240" ALT="" BORDER="0">
<BR>
<BR>


<P>This diagram of a Style shows its subcomponents and how they interrelate to each other:
 

<BR>
<IMG src="/content/img/DMPC_StyleSub.gif" WIDTH="510" HEIGHT="350" ALT="" BORDER="0">
<BR>
<BR>


<br>


<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_contributes2.htm" title="DirectMusic Producer Components Table">Back to Components table</A><BR>

<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_main.htm" title="DirectMusic Producer Components">DirectMusic Producer Components Home</A><BR><BR>
<BR><SMALL>Friday, July 21, 2000</SMALL>

</td>