<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 
title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>


</td><td>
<H2>Ten Graphics Features That Will Supercharge Your Xbox Game</H2>

<BR>
<P><I>By Dave McCoy, Graphics Techniques Consultant, Xbox Content and Design Team</I></P>


<H3><I>1. Per Pixel Lighting &#8211 Realistic Lights at Last</I></H3>
<P>Some of the coolest lighting effects available in CGI are achieved with per-pixel lighting. For years artists working in real-time graphics have had to struggle with various tricks and cheats in attempts to simulate dramatic lighting. Now, through hardware vertex shaders, multitexturing, and pixel shading, the effects long available in pre-rendered graphics can be replicated in real-time games on the Xbox&#8482; video game system from Microsoft.</P>
<H3><I>2. Continuous LOD and Curve Surface Models &#8211 Smooth Models and No LOD Pops</I></H3>
<P>Various strategies for executing continuous LODs have been developed in the last few years, but the polygon counts required for these techniques have prevented generalized use. Now the performance exists to create continuous mesh and true curved surface models-all executed through the super-fast Xbox GPU custom-designed by NVIDIA&#174;.</P>
<H3><I>3. Exotic Surfaces &#8211 No More Plastic People and Worlds</I></H3>
<P>The pixel and vertex shaders on Xbox can bring surfaces previously unattainable to real-time. Accurate bump maps, complex dynamically changing reflective surfaces, fur, grass, iridescent scales, X-ray transparency, cell shaders&#8212;you name it.</P>
<H3><I>4. Skin and Bones &#8211 Goodbye Exoskeleton</I></H3>
<P>While continuous skinning and vertex weighting with bones control were previously achievable through software, the performance requirements often limited use of subtle organic and cloth animation effects or put them out of reach of real-time games. Vertex shaders executed by the Xbox GPU make such animation possible without bogging down your game engine.</P>
<H3><I>5. Volumetric Light and Shadow &#8211 3-D Lighting for 3-D Worlds</I></H3>
<P>Shadows and light happen in three dimensions, but many strategies for simulating shadow effects in real-time are limited 2-D cheats. With stencil buffers, now complex objects moving through complex lighting environments can finally be shadowed accurately. These shadows give three-dimensional form and substance to static and dynamic game elements.</P>
<H3><I>6. Texture Size Matters &#8211 Clarity, Variety, Fidelity</I></H3>
<P>Small texture maps mean tiling, extensive re-use, or soft textures. Hardware texture compression means textures can be larger and clearer. Dynamic caching of textures from the hard disk means larger worlds and more variety in texture usage. The ability to multitexture four textures in one pass and introduce variety through vertex shaders means endless complexity and variation can be induced with minimum effort.</P>
<H3><I>7. Postprocessing and Revising Screens and Textures &#8211 Tweak Your Image</I></H3>
<P>The memory architecture on Xbox means that textures can be modified in hardware in reaction to game events. Because the screen is also accessible, you can grab part or all of a finished scene image, make it a texture, and map it onto objects, process it to change the appearance, or both.</P>
<H3><I>8. Pixel Fill Rates and Hardware T&L &#8211 Goodbye Wall of Fog, Hello Complex Vistas</I></H3>
<P>Fog is great to change the mood. If you want to, you can even easily do volumetric fog in hardware on Xbox. But face it, having to rely on fog or small spaces to limit your line of sight and prevent objects from popping into view is getting a little old. A lot of the graphics power of Xbox is much more than pure horsepower. But the raw horsepower that is there is nothing to sneeze at. The ability to throw pixels and transform polygons at previously unheard of levels means finally lines of sight can expand and game environments can get big and complex. Stop designing simple little worlds for your game. Those days are over.</P>
<H3><I>9. Fire and Forget Movement &#8211 The World Comes Alive</I></H3>
<P>Vertex shaders running on the Xbox GPU can provide movement without bogging down the game. That means endless new opportunities for dynamic motion in game environments. Fans can spin, lighting change, trees and grass blow in the wind, flags flutter, water undulate, torches burn, shadows change, clouds come and go, and so on, and so on, and so on-all under control of the GPU. Meanwhile the CPU remains unbothered and able to concentrate on executing game logic.</P>
<H3><I>10. Particles &#8211 More, More Dynamic, More Complex</I></H3>
</P>Routines on the GPU allow particles to be created in much higher numbers than have been possible previously. And those particles can have their positions, textures, sizes, color, and transparency altered dynamically. Three-dimensional textures available in hardware can be used to create additional depth and variation to particle effects. Pixel fill rates on Xbox along with these abilities mean particle effects of much higher complexity and depth. And because these effects are accomplished through the GPU, they have minimal impact on the CPU's execution of the game.</P><BR>

<SMALL>Thursday, January 25, 2001</SMALL>



</td>





	
