<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 

title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>



</td><td><H2>News!</H2>

<P>The latest information for Xbox audio designers.</P>

<BR>

<P><B>Xbox ADPCM and DirectMusic</B></P>

<P>As of the August Preview release, DirectMusic defers to DirectSound to handle improper ADPCM loop points (not on 64-sample boundaries). Previously, DirectMusic would attempt to "fix" the loop points to legal values, which in many cases led to hard-to-debug, poor loop points. Note that this change means that for debug builds, DirectMusic content authored with bad ADPCM loop points will now assert in DirectSound (just as illegally looped ADPCM wave content played directly in DirectSound does).</P>

<P><B>Xbox ADPCM</B></P>

<P>An installable version of the Xbox ADPCM codec is now provided on the XDK CD. See the ADPCM directory for details and instructions. </P>

<P><B>Six-Channel Wave Authoring</B></P>

<P>A tool is now provided with the Xbox XDK for creating <B>WaveFormatEx</B> interleaved PCM .wav files. You can use this tool to package up six mono wave files for pre-rendered multichannel audio, which can be played back on a user's Dolby&#174; Digital system (with automatic mixdown for Dolby&#174; Surround and stereo setups as well).  </P>

<P><B>DSP Builder</B></P>

<P>A new graphical tool for authoring effects programs for the Xbox MCP Global Processor is provided with the August XDK. You can continue to use the existing XGPImage application or use this tool. </P>

<P><B>DirectMusic Producer for Xbox</B></P>

<P>The August Preview Xbox Development Kit includes a new beta version of DirectMusic Producer for Xbox, which includes Xbox Experimenter and the Xbox synthesizer, which allow you to play content directly on the Xbox hardware using DirectMusic Producer. This beta version of DirectMusic Producer for Xbox can be found on your August 2001 Preview XDK CD at X:\Essentls\DMusProd81\Setup.exe.</P>

<UL>
<a href="/download/DMPX_August_2001_Preview.exe" title="DMPX - August 2001 Preview.exe"><B>DMPX - August 2001 Preview.exe</B></a> (9.81 MB)
</UL>

<P>Only one version of DirectMusic Producer can be installed at a time, so any previous versions of DirectMusic Producer will be uninstalled. If you later wish to revert to DirectMusic Producer 8.0, it is still available on your CD at X:\Essentls\DMusProd\Setup.exe. Note that beyond the July release, only DirectMusic Producer for Xbox will be included with the XDK. DirectMusic Producer 8.0 (for PC) can still be downloaded at http://msdn.microsoft.com.</P>

<BR>

<SMALL>Wednesday, August 1, 2001</SMALL>



</td>


</TD>



	
