<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 
title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>
<!--Footer End-->

</td><td><H1>DirectMusic Producer 7.0 Tutorial</H1>

<P><em>By Chanel Summers, Worldwide Creative Manager, Xbox Content and Design Team<BR>
and David Yackley, Program Manager, DirectMusic Producer
<BR><BR>From Computer Music Special #01 (1999)</EM>
<A HREF="http://www.computermusic.co.uk">http://www.computermusic.co.uk</A>
<BR>
<BR>
<BR>

<P>This Microsoft&#174; Xbox&#153 paper is for those of you who are unfamiliar with the newest member of the Microsoft&#174; DirectX&#174; family, Microsoft&#174; DirectMusic&#174;. DirectMusic is an application that allows you to play music that can respond to real-time events. In effect, it lets composers and developers create music to accompany an application (or virtually anything else, for that matter) that can change according to what&#39;s happening in that application at any particular moment.
<BR>
<BR>
<P>Imagine a free-flowing piece of music that&#39;s always original, always changing and makes repetitive audio loops and static MIDI files a thing of the past. Consider, for example, a game soundtrack: Your character moves and the music changes according to where you are or what you&#39;re doing. But this isn&#39;t just a games app--the music can respond to other algorithms. It can be used to compose music which changes as a user navigates the pages of a Web site, accesses different areas of a CD-ROM, or for virtually any kind of graphic presentation. The possibilities are endless, especially in the pro music-making arena. 
<BR><BR>
<P>DirectMusic is based on a full implementation of Downloadable Sounds (DLS), an industry standard which allows composers to create customized music palettes and enables them to experience a consistent playback on virtually any hardware platform. Any sound that is realized as wave data can be built into a DLS instrument and simply played back in musical time, or manipulated with the same resources that are available through MIDI (for example, volume, pan, pitch bend, and so on). Because a DirectMusic score is created from basic building blocks provided by the composer, it manages to combine the efficiency and flexibility of MIDI with the high quality of digital audio.
<BR><BR>
<P>While DirectMusic is the engine that combines and plays the music, the authoring tool itself is DirectMusic Producer, which you use to create those music files. DirectMusic Producer gives you many options for incorporating diversity into your pieces. This means that as the piece plays, there are multiple possible paths it can follow, including different chord progressions, alternate melodies, changes in rhythm, and increased or decreased intensity. This keeps musical scores fresh while remaining completely under the composer&#39;s control.
Producer also provides composers with tools to abstract and isolate musical parameters that can be manipulated and applied to a musical environment in real time. Key changes, program changes, layered textures, volume, tempo and intensity level can all be interactively shaped to meet the desires of the composer. You can design transitions which move immediately to a new sound, or gradually blend old and new together, depending on what you want.
<BR><BR>
<P>For example, the appearance of a villain in a CD-ROM game might be accompanied by a particular music theme. And the theme could vary depending on the particular circumstances of his appearance, such as whether or not the game player&#39;s character is in peril. Or, each time the player passes through a doorway, a special theme could be played on top of the background music already playing. As another example, a multimedia CD-ROM about international travel could include a different style of music to accompany each country or city, with smooth transitions from one style to another as the user explores. In addition, each mouse click could have a special sound effect or motif dedicated to it.
But DirectMusic scores don&#39;t necessarily have to be integrated into another application to reap the benefits of interactive, variable composition. DirectMusic Producer can be used to test complex harmonies and variations, or explore musical notions, creating music interactively, which can then be saved out as a wave and/or MIDI file.
<BR><BR>
<P>We have included here a step-by-step guide to using DMP7. What we hope you will gain from the tutorial is an insight into how some of the pros put music together for multimedia presentations. DirectMusic introduces ways of creating, playing and interacting with music that have never been possible before and, at the very least, the tutorial should show you how many people will be composing their computer music during the next few years. Don&#39;t be intimidated by the sheer number of ways in which you can approach musical performance--most people can discover a few good techniques that will fit their creative needs and then build their own set of practices from there.
<BR><BR>
<H3>Getting up and running</H3>

<P>To get started, download the DirectX 7.0a SDK (which contains DirectMusic Producer 7.0) at <a href="http://www.msdn.microsoft.com/directx/downloads.asp">http://www.msdn.microsoft.com/directx/downloads.asp</A>. Note that there are several important updates in DirectMusic Producer 7.0 including the following:  
<UL>
<LI>A new hybrid notation editing capability that combines the piano-roll approach with notation on a treble and bass clef. 
<LI>A new Echo MIDI In feature that will let you play music from your favorite sequencer application using the instrument settings in Producer, including custom DLS instruments.
<LI>Complete copy-and-paste functionality between style, sequence and MIDI file formats, and the ability to edit sequences within a segment.
<LI>The means to export a performance into a wave and/or a MIDI file.
<LI>A new Synth Status toolbar that monitors both the percentage of CPU and the number of voices in use for all active output ports.
</UL>

<H3>DirectMusic Producer Tutorial</H3>

<P>To see a graphic of DirectMusic Producer with callouts, click: 
<BR><A HREF="/BPProgInfo.asp?Page=content/maingrab.htm" title="DirectMusic Producer in detail">DirectMusic Producer in detail</A><BR>
<BR>
<P>To view each step of the tutorial, click the following links.
<BR>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_01.htm" title="Page 1">1</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_02.htm" title="Page 2">2</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_03.htm" title="Page 3">3</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_04.htm" title="Page 4">4</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_05.htm" title="Page 5">5</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_06.htm" title="Page 6">6</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_07.htm" title="Page 7">7</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_08.htm" title="Page 8">8</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_09.htm" title="Page 9">9</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_10.htm" title="Page 10">10</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_11.htm" title="Page 11">11</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_12.htm" title="Page 12">12</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_13.htm" title="Page 13">13</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_14.htm" title="Page 14">14</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_15.htm" title="Page 15">15</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_16.htm" title="Page 16">16</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_17.htm" title="Page 17">17</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_18.htm" title="Page 18">18</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_19.htm" title="Page 19">19</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_20.htm" title="Page 20">20</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_21.htm" title="Page 21">21</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_22.htm" title="Page 22">22</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_23.htm" title="Page 23">23</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_24.htm" title="Page 24">24</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_25.htm" title="Page 25">25</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_26.htm" title="Page 26">26</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_27.htm" title="Page 27">27</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_28.htm" title="Page 28">28</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_29.htm" title="Page 29">29</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_30.htm" title="Page 30">30</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_31.htm" title="Page 31">31</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_32.htm" title="Page 32">32</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_33.htm" title="Page 33">33</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_34.htm" title="Page 34">34</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_35.htm" title="Page 35">35</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_36.htm" title="Page 36">36</A>

<BR>
<BR>
<SMALL>Thursday, June 8, 2000</SMALL>

</td>
