<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 

title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>

</td><td><STYLE>
table.tblconcept
	{
	width: 70%;
	background: #999999;
	margin-top: .6em;
	margin-bottom: .3em;
	}
table.userdata td 
	{
	background: #ffffff;
	background-color: #F5F5F5;
	border-color: #ffffff;
	border: none;
	}	
table.tblconcept th
	{ 
	padding: 4px 8px;
	background: #cccccc;
	text-align: left;
	font-size: 70%;
	vertical-align: bottom;
	
	}
		
table.tblconcept td
	{ 
	padding: 4px 8px;
	background: #ffffff;
	vertical-align: top;
	font-size: 70%;	
	}
</STYLE><H2>DirectMusic Producer Components</H2>

<H4><A NAME=Chordmap>Chordmap</A></H4>

<P>The Chordmap component contains a collection of chords that define a varying harmonic structure for a music piece. The collection of chords is based on a scale, so a Chordmap usually reflects a particular tonality, such as major, harmonic minor, or natural minor. You organize the chords in a Chordmap to create musically sensible paths leading from one chord to another. Chordmaps also interact with Styles so that the Patterns of the Style are altered to fit the chords and scales of the Chordmap.
<BR>
<BR>
<P>Chordmaps add a high level of variability to your music because there are multiple paths to choose from as a piece moves toward a destination chord. Each time a new chord progression is needed, parameters for phrase lengths and start and end chords are taken into account, and suitable paths from one chord to another are selected. If more than one path is possible, a suitable path is selected at random.
<BR>
<BR>
<P>When using a Chordmap in a Segment or supplying a Chordmap to a software developer, you are combining its data with that of a Style component to generate the greatest variability in a DirectMusic piece. As a Style plays over the chords in a Chordmap, the music Patterns of the Style are altered to fit the chords.
<BR>
<BR>
<P>The following illustration shows the components of the Chordmap Designer window:


<BR>
<IMG src="/content/img/DMPC_ChrdmpDe.gif" WIDTH="490" HEIGHT="415" ALT="" BORDER="0">
<BR>
<BR>


<br>


<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_contributes2.htm" title="DirectMusic Producer Components Table">Back to Components table</A><BR>

<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_main.htm" title="DirectMusic Producer Components">DirectMusic Producer Components Home</A><BR><BR>
<BR><SMALL>Friday, July 21, 2000</SMALL>

</td>