<TD valign="top" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 

title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>



</TD><td><H2>Dual Booting a PC<BR>
(Windows 9x and Windows 2000) 
</H2>

<P><I>By Scott Selfon, Audio Content Consultant, Content and Design Team, Xbox Advanced Technology Group</I></P>

<P><SMALL>Microsoft Confidential</SMALL></P>

<P><I>This is part of a series of "column-style" white papers on various aspects of Xbox audio. If you would like to see a specific area addressed, please send e-mail to </I><a href="mailto:content@xbox.com">content@xbox.com</a>.</P>
<H3>Introduction</H3>
<P>Microsoft&#174; Windows&#174; 2000 is the development operating system for all aspects of authoring for the Xbox&#8482; video game system from Microsoft, including audio. That said, some tools and audio cards do not yet support Windows 2000. An e-mailed or written request will help move that process along, but for the time being, one workaround to consider is making your machine able to dual boot so that you can boot the machine to either Windows 9x (95, 98, Millennium) or Windows 2000 without needing to reinstall the operating system. This paper presents an overview for how to do this.</P>
<H3>Operating System Installation Order</H3>
<P>Order of installations is important. It is generally recommended that Windows 2000 be the last operating system installed. If your machine already has Windows 2000 and you want to make it dual boot with Windows 9x, the process is a bit more complicated than the one detailed below. For more information, consult <A HREF="http://support.microsoft.com/support/kb/articles/Q153/7/62.asp"> http://support.microsoft.com/support/kb/articles/Q153/7/62.asp</A>.</P>
<H3>Formatting Your Hard Drive Partitions</H3>
<P>You will need to have either multiple hard drives or multiple partitions on a single hard drive. To repartition a hard drive, you can use the Fdisk and Format tools. As always, when dealing with hard drive formatting, you should back up all of your data, because it will be lost in the process of repartitioning. For more information, consult the Knowledge Base article at <A HREF=" http://support.microsoft.com/support/kb/articles/Q255/8/67.ASP">http://support.microsoft.com/support/kb/articles/Q255/8/67.ASP</A>.</P>
<P>Windows 2000 supports the Windows NT file system (NTFS), file allocation table (FAT), and FAT32 formatted drives and partitions. Windows 9x supports FAT (Win95) or FAT32 (Win95 OSR2.5, Win98, WinME). Note that Windows 9x does not support NTFS, so you should format all of your partitions to be FAT or FAT32.</P>
<H3>Applications on Dual Boot Systems</H3>
<P>Any applications that you intend to use on both operating systems will need to be installed once on each operating system; you can't share applications across operating systems.</P>
<H3>Setting Up for Dual Boot</H3>
<P>Before making any significant system modifications like this, you should back up critical data and make sure that your installation disks for applications, drivers, and so on are handy, just in case.</P>
<P>Once you have two hard drives and/or partitions, pop in the Windows 2000 CD, and click the <B>Install Windows 2000</B> option in the menu that comes up.</P>
<P>From the menu that comes up, click Install a <B>New Copy of Windows 2000</B>.</P>
<IMG src="/content/img/dualboot_fig1.gif"> <BR><BR>
<P>Then just follow the installation instructions. You will be prompted for a location to install to. The easiest way to keep track of the two different operating systems is to place this one on your second drive or partition (for instance, D:\WINNT, assuming that your Windows 9x boot drive was C:).</P>
<H3>Picking Your Operating System on Each Reboot</H3>
<P>After installation is completed, every time you restart the computer, a text boot screen will appear that lets you choose which of the two operating systems you want to run. You can modify the file boot.ini (in Notepad or another text editor) to control how long it takes to time out (before the machine picks the default operating system), what the default operating system is, and more advanced boot options.</P>
<P>For more details on dual booting, please consult specific Knowledge Base articles at <A HREF="http://msdn.microsoft.com">http://msdn.microsoft.com</A>.</P>

<BR>

<SMALL>Monday, March 5, 2001</SMALL>



</TD>





	
