<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 

title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>



</td><td><H2>Tips, Tricks, and Techniques</H2>

<P>These are a series of column-style articles inspired by Xbox audio features that cover miscellaneous hints and ideas that can help make your audio better and easier to create.</P>

<P><A HREF="/BPProgInfo.asp?Page=content/cdcentral_audio_wp_DMP_shortcuts.htm" title="Keyboard Shortcuts for DirectMusic Producer"><B>Keyboard Shortcuts for DirectMusic Producer</B></A>&nbsp;&nbsp;<I>(New: posted 4/2/01)</I></P>
<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_wp_ttt_dmp.htm" title="DirectMusic Producer"><B>Tips, Tricks, and Techniques for DirectMusic Producer</B></a><br> 


<BR>

<SMALL>Thursday, January 25, 2001</SMALL>



</td>





	
