<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 

title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>



</td><td>
<H2>Ten Audio Features That Will Supercharge Your Xbox Game</H2>
<BR>
<P><I>By Scott Selfon, Audio Content Consultant, Xbox Content and Design Team</I></P>

<H3><I>1. Real-Time Acoustically Positioned Audio Sources &#8211; Or, "What the Heck Is That Charging up Behind Me?"</I></H3>
<P>At last, that monster hanging out above that doorframe you just walked through will actually sound like he's behind you. And you won't have to look up to know when that chopper is going to take another pass at you. The Xbox&#8482; video game console from Microsoft allows elements to be positioned (and moved) in real time through a multi-speaker acoustic space. And it's all done in hardware, with up to 64 different positions for sound sources (and the possibility of multiple sounds coming from each source).</P>

<H3><I>2. Real-Time Effects Processing on Audio Sources &#8211;  "Echo&hellip;Echo&hellip;Echo&hellip;"</I></H3>
<P>Firing your gun down a tunnel sounds very different from firing it in a kitchen. Now every sound in your game can be acoustically appropriate to the environment it's in-using effects such as parametric EQ, reverb, obstruction, and occlusion on a single source wave or a mix of waves. And these effects can all be altered in real time in hardware. Driving your souped-up car through busy urban streets and then into the Lincoln Tunnel? Hear the difference. An enemy soldier on the other side of that wall? Listen for the muffled breathing.</P>

<H3><I>3. Hardware Flexibility - Submixing, Chaining, and Multiple Pass Effects Processing</I></H3>
<P>Laser gun not quite punchy enough for you? Want some extra flange on that crack of the bat? No problem. The Xbox audio hardware gives you the flexibility to route your sounds through multiple passes of the programmable digital signal processor (DSP), adding thick, complicated effects. You can also chain one or more voices through multiple passes of the Downloadable Sounds Level 2 (DLS-2), Interactive 3-D Audio, Level 2 (I3DL2), and/or parametric EQ filters. You can also create submixes and then apply filters, effects, and 3-D positioning to the full mix, helping you effectively manage the resources of the audio hardware.</P>

<H3><I>4. Dynamic Soundscapes and Sound Effects &#8211; "Wow, Bad Guys Don't All Have to Have the Same Voice?"</I></H3>
<P>Finally, support for a format that excels at variability. No longer will you be relegated to pitch-shifting a single wave file to get "different" sounds. A single sound effect can be composed of multiple variations that are played randomly or in a more controlled manner-the specific behavior and amount of variability are determined by the sound designer. A soundscape can mix multiple tracks of variable sound effects for nearly infinite possibilities. And the 256 voices provided by the hardware will give you more freedom from issues of voice stealing and priority.</P>

<H3><I>5. Dynamic, Non-Repetitive Musical Scores and Ambiences</I></H3>
<P>No longer are you limited to linear looping wave- or MIDI-based scores. Microsoft&#174; DirectMusic&#174; allows composers to author with variability built right into the content, allowing intensity to be manipulated at run time in a believable and musical way. For instance, when your lounge singer character is booed off the stage, the pianist picks up the musical line and runs with it without missing a beat. DirectMusic also allows for smooth transitions between various musical cues. When you've fought off the last street thug, the action cue smoothly slips back into background ambience or a sparse underscore.</P>

<H3><I>6. Self-Modifying Music and Ambience: DirectX Audio Scripting</I></H3>
<P>Putting control over the musical score firmly in the hands of the composer is Microsoft&#174; DirectX&#174; Audio scripting. The music itself can notice that the player's health has dipped into the red and make itself increasingly tense. Or the crowd can thin out as even the loyal fans head for the exits in the midst of a blowout. The simplified language allows the composer/sound designer to "program" these behaviors rather than giving the responsibilities of audio behavior to developers, allowing each designer to work on what they know best.</P>

<H3><I>7. Dramatically and Musically Appropriate Motifs</I></H3>
The boss takes a swing at you, and the score swells with a brilliant brass strike. More importantly, this added line makes musical sense with the underlying score, both rhythmically and tonally. The power of DirectMusic to understand musical boundaries, chord structures, scales, and intensity levels allows for just-in-time scoring that will effectively magnify the emotional context of a scene.</P>

<H3><I>8. DLS-2: More Realistic Wavetable Instruments</I></H3>
<P>Beyond support for multiple low frequency oscillators, filters, pitch, and volume envelopes (all of which are provided with no additional overhead), Xbox support for DLS-2 enables parametric EQ per voice within hardware. It also allows for wave layering, so complicated instrument articulations and effects can be created from a single source wave. And different combinations of waves can be used based on attack velocity, so that distant, quiet snare drum line can smoothly crescendo into a steady militant march rhythm with all of the nuances of drumstick pressure on the drum.</P>

<H3><I>9. Hard Disk Availability for Quick Access and Extended Variability</I></H3>
<P>Whether it's additional dialog options, added ambience complexity, or just lush multi-track audio, the availability of the hard disk as a "scratch" area for fast audio recall allows for continuous sounds and music even while other aspects of a title are being loaded. This is particularly effective for use during scene changes.</P>

<H3><I>10. Personalized ("Ripped") Music Available In-Game</I></H3>
<P>Using functionality built into the Xbox Dashboard, the user can create a mix of music tracks from their personal CD collection, which are placed on the hard disk and can be imported into a playlist. A game can organize these to replace its own cues in select scenes or allow the user to selectively swap their own hits in and out. Or the game can build this personalized music right into the title&#8212;make it "broadcast" on radios, in elevators, over a stadium's PA system, and so on, all with real-time effects. Titles shouldn't count on these playlists being available, but if they are, they'll augment the game's audio playback library.</P>
<BR>
<SMALL>Thursday, January 25, 2001</SMALL>




</td>





	
