<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 
title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>


</td><td>
<H3>Best Practices Guide &#8211 Audio Designer's Corner</H3>

<P>The Best Practices Guide for Xbox audio design is designed to help familiarize you with the process of developing and integrating audio content for Xbox. Because of the broad scope of this discussion, the guide is divided into several chapters. The intent is that earlier chapters will help you get a good jump on developing content on your PC for Xbox, while later chapters (and separate white papers) will drill down into more specific content authoring concepts and concerns.</P>
<BR>
<UL>
<P><a href="/BPProgInfo.asp?Page=content/cdcentral_audio_bp_overview.htm" title="Xbox Audio Design Overview"><B>Xbox Audio Design Overview</B></a>&nbsp;&nbsp;<I>(Updated 10/11/01)</I></P>
</UL>
<UL>
<P><a href="/BPProgInfo.asp?Page=content/cdcentral_audio_bp_chap1.htm" title="Chapter 1 &#8211; Xbox Audio Libraries"><B>Chapter 1 &#8211 Xbox Audio Libraries</B></a>&nbsp;&nbsp;<I>(Updated 8/27/01)</I></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_audio_bp_chap2.htm" title="Chapter 2 &#8211; Xbox Audio Content"><B>Chapter 2 &#8211 Xbox Audio Content</B></a></P>

<A HREF="/BPProgInfo.asp?Page=content/cdcentral_audio_bp_chap3.htm" title="Chapter 3 &#8211; Xbox Audio Hardware"><B>Chapter 3 &#8211 Xbox Audio Hardware</B></A></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_audio_bp_chap4.htm" title="Chapter 4 &#8211; DirectMusic Producer Introductory Guide for Xbox"><B>Chapter 4 &#8211 DirectMusic Producer Introductory Guide for Xbox</B></a>&nbsp;&nbsp;<I>(Updated 8/7/01)</I></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_audio_bp_chap5.htm" title="Chapter 5 &#8211; DirectMusic Producer Introductory Guide for Xbox"><B>Chapter 5 &#8211 Xbox Audio Content Development Tools</B></a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_audio_bp_chap6.htm" title="Chapter 6 &#8211; Audio Performance and Memory Footprint Optimizations for Xbox"><B>Chapter 6 &#8211 Audio Performance and Memory Footprint Optimizations for Xbox</B></a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_audio_bp_chap7.htm" title="Chapter 7 &#8211; Mixing Audio for Xbox"><B>Chapter 7 &#8211 Mixing Audio for Xbox</B></a>&nbsp;&nbsp;<I>(New: posted 10/11/01)</I></P></P>
<!--<P><a href="/BPProgInfo.asp?Page=content/cdcentral_audio_bp_chap1.htm" title="Best Practices for Xbox Audio Design Chapter 1: Xbox Audio Libraries"><B>Best Practices for Xbox Audio Design Chapter 1: Xbox Audio Libraries</B></a></P>-->

<BR>





</td>





	
