<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 

title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>



</td><td>
<H2>Sharpen Textures for Sharper Appearance</H2>

<P><I>By Dave McCoy, Graphics Techniques Consultant, Xbox Content and Design Team</I></P>

<P>The title isn't as redundant as it sounds. Any time texture maps are seen in a game where one pixel on the texture (texel) is magnified to be larger than one pixel on the screen, hardware interpolates between neighboring texels. This often happens on walls, floors, and ground.
While interpolation avoids the point-sampled look to textures when surfaces get close to the eye-point, it naturally softens the appearance of the surface.</P>

<P>Just as with any other art resource, textures have to be authored in the context of their actual use in the game. Often, sharpening textures with PhotoShop so that they appear harsh and unrealistic when viewed flat results in superior appearance when the textures are applied to surfaces.</P>

<P>Consider that, essentially, when you zoom in to look at a texture in most paint packages, you are looking at a point-sampled representation of the enlarged image.</P>

<P>Here is a 256 &times; 256 &times; 24 rock texture.</P>

<IMG src="/content/img/textures1.jpg" WIDTH="573" HEIGHT="574" BORDER="0" ALT="">

<P>We'll apply it to some geometry.</P>

<IMG src="/content/img/textures2.jpg" WIDTH="576" HEIGHT="435" BORDER="0" ALT="">

<P>Now we'll sharpen the texture so that it looks pretty funky when seen flat. I usually expand images to about four times their starting size (1024 &times; 1024 in this case) and run several passes of <B>Sharpen Edges</B> and <B>Sharpen More.</B> These processes can introduce some nasty artifacts, which are significantly reduced when I reduce the image back to the original size. Images can be sharpened many ways; this is just the way I commonly sharpen them. Here's the result.</P>

<IMG src="/content/img/textures3.jpg" WIDTH="574" HEIGHT="573" BORDER="0" ALT="">

<P>I now use this texture for the terrain.</P>

<IMG src="/content/img/textures4.jpg" WIDTH="576" HEIGHT="432" BORDER="0" ALT="">

<P>You'll have to look for a moment, but sharpening provides a slightly clearer image, with most of the sharpening artifacts removed by interpolation. The effect is more apparent in motion.</P>

<P>While sometimes selective contrast enhancement or other methods will yield superior results to just sharpening, the general principle to remember is that when viewed on a flat screen, textures that are objectionably sharp and pixelated will inevitably get softer when seen in any pixel-interpolating engine. Sharpening them to the point where they look worse flat will often make them look clearer in the game.</P>


<BR>

<SMALL>Thursday, January 25, 2001</SMALL>



</td>





	
