<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 
title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>


</td><td>
<H2>Meet the Xbox Content and Design Team</H2>

<P><B>Chanel Summers (Worldwide Creative Manager, Xbox Content and Design Team)</B></P>

<P><img src="/content/img/chanel.jpg" border="0" ALIGN="left" width="87" height="90" alt="Chanel" STYLE="margin-right:15;">Chanel Summers brings nearly a decade of experience in the games industry to her role as Worldwide Creative Manager of the Content and Design Team in Microsoft's Xbox Advanced Technology Group. Recognizing that the technology of Xbox serves only to showcase the games developed for it, Chanel set out to create a team of graphic artists, sound designers, composers and game designers who would work with the development community, coaching game creators to take advantage of the capabilities presented by Xbox. The Content and Design Team's goal is to help game developers apply technology and features into design in order to help usher in an era of future-generation games.</P>

<P>Prior to joining Microsoft, Chanel was a game producer and designer at a number of companies, including Mindscape, Mattel Media, and Velocity. Chanel first entered the gaming industry working for a company called The Software Toolworks, Inc. (later known as Mindscape, Inc.). She was hired to increase the entertainment value of the company&#39;s educational product lines and worked on the Mindscape Kids line in which she was responsible for the management of the Mario educational series&#8212;one of the most visible in the company. She also worked on entertainment titles (both computer and video games) such as MegaRace and Alfred Chicken.</P>

<P>Chanel was brought into Velocity to help expand its product base and attain a dominant position in the simulation and action markets. As such, she served as lead game designer and project manager. She developed concepts and produced detailed product designs and concept art for entertainment titles in a variety of genres, including strategy, action, and simulation games. She also reviewed all game designs and modified those deemed to be &#34;in trouble&#34; to maximize consumer appeal as well as evaluated and worked with real-time 3-D rendering engines, multiplayer game systems, and Bayesian artificial intelligence techniques to produce state-of-the-art titles.</P>

<P>She then went to help start Mattel Media as the group's first Executive Producer for Boys' Properties. In this position, she managed and was responsible for all aspects of product development related to boys&#39; properties. This involved exploiting Mattel Toys&#39; brands and imagery targeted at boys, including Hot Wheels and Mattel&#39;s action figure lines. Products included high-performance 3-D vehicle simulations, action/arcade platform games, and productivity applications.</P>

<P>Chanel returned to Mindscape to design and manage the preproduction process for an unreleased, high-intensity 3-D action game. During this time, she also developed a prototype for a children&#39;s typing instruction program. In addition to designing the product and creating all design specifications, she also managed artists in creating key interface images, and worked with producers to build workable budgets and development schedules.</P>

<P>Chanel joined Microsoft in 1997 as the program manager for "Fighter Ace," the first massively multiplayer game on the Microsoft Internet Gaming Zone. She then served as Audio Technical Evangelist for the DirectX technologies, where she was responsible for supporting Microsoft's interactive audio technologies and helped launch DirectMusic, a revolutionary method of creating and delivering interactive sound designs. During that time, she established programs to get audio professionals more involved in the design of Microsoft technologies, became a widely recognized figure in leading industry organizations, and wrote and published a number of articles and technical white papers before moving on to the Xbox audio team.</P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_scott.htm" title="Scott Selfon"><B>Scott Selfon</B></a> | <a href="/BPProgInfo.asp?Page=content/cdcentral_dave.htm" title="Dave McCoy"><B>Dave McCoy</B></a></P>

<BR>

</td>





	
