<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 
title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>
<BR>
<BR>
</td><td><H2>DirectMusic Producer 7.0 Tutorial</H2>
<H3>Lesson 34</H3>
<table width=480px>
<TR><TD height=400px><IMG src="/content/img/walk34.gif" ></TD></TR>
<TR><TD><P><IMG src="/content/img/a34.gif" WIDTH="19" HEIGHT="19" ALT="" BORDER="0"> Reopen any segments that you wish to audition and unlock the Secondary Segment toolbar. Using the spin control, indicate the number of motifs (also known as secondary segments) that you wish to interactively cue. In each drop-down list select the name of each motif. 

 </P>
</TD></TR>
</TABLE>

<BR><BR>
<A HREF="/BPProgInfo.asp?Page=content/maingrab.htm" title="DirectMusic Producer in detail">DirectMusic Producer in detail</A><BR>
<BR>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tutorial_main.htm" title="Tutorial start page">Tutorial home</A>&nbsp;&nbsp;
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_01.htm" title="Page 1">1</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_02.htm" title="Page 2">2</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_03.htm" title="Page 3">3</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_04.htm" title="Page 4">4</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_05.htm" title="Page 5">5</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_06.htm" title="Page 6">6</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_07.htm" title="Page 7">7</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_08.htm" title="Page 8">8</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_09.htm" title="Page 9">9</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_10.htm" title="Page 10">10</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_11.htm" title="Page 11">11</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_12.htm" title="Page 12">12</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_13.htm" title="Page 13">13</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_14.htm" title="Page 14">14</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_15.htm" title="Page 15">15</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_16.htm" title="Page 16">16</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_17.htm" title="Page 17">17</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_18.htm" title="Page 18">18</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_19.htm" title="Page 19">19</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_20.htm" title="Page 20">20</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_21.htm" title="Page 21">21</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_22.htm" title="Page 22">22</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_23.htm" title="Page 23">23</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_24.htm" title="Page 24">24</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_25.htm" title="Page 25">25</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_26.htm" title="Page 26">26</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_27.htm" title="Page 27">27</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_28.htm" title="Page 28">28</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_29.htm" title="Page 29">29</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_30.htm" title="Page 30">30</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_31.htm" title="Page 31">31</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_32.htm" title="Page 32">32</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_33.htm" title="Page 33">33</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_34.htm" title="Page 34">34</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_35.htm" title="Page 35">35</A>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_tut_36.htm" title="Page 36">36</A>

<BR>
<BR>
<SMALL>Thursday, June 8, 2000</SMALL>

</td>





	
