<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 

title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>


<BR>
<BR>
</td><td>
<STYLE>
table.tblconcept
	{
	width: 70%;
	background: #999999;
	margin-top: .6em;
	margin-bottom: .3em;
	}
table.userdata td 
	{
	background: #ffffff;
	background-color: #F5F5F5;
	border-color: #ffffff;
	border: none;
	}	
table.tblconcept th
	{ 
	padding: 4px 8px;
	background: #cccccc;
	text-align: left;
	font-size: 70%;
	vertical-align: bottom;
	
	}
		
table.tblconcept td
	{ 
	padding: 4px 8px;
	background: #ffffff;
	vertical-align: top;
	font-size: 70%;	
	}
</STYLE><H2>DirectMusic Producer Components</H2><H3>What Each Component Contributes to a Composition</H3>

<P>When composing music in the traditional way, you might first decide on a particular genre, such as &#146;70s guitar rock or classical Viennese. Then you might choose instrumentation, create melodic and rhythmic lines, and develop harmonies that evoke the nuances you want to create. You do not necessarily follow this order with every composition, but the basic elements remain fairly constant.
<BR>
<BR>
<P>Each DirectMusic Producer component and subcomponent is responsible for one of these basic elements when you compose music. To better understand the DirectMusic Producer components, think of what each contributes to the composing process. 
<BR>
<BR>
<P>The following table gives you a general picture of the responsibilities of each component. For more detail, click the name of the component.
<BR>
<BR>

<TABLE class="tblconcept">

<TR VALIGN="top"><TH align=left><B>Component or subcomponent</B></TH><TH align=left><B>Responsibility</B></TH></TR>

	<TR><td><A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_segment.htm" title="DirectMusic Producer Components: Segment">Segment</A></td><td>Basic unit of musical performance: timeline where all compositional elements are positioned.</td></TR>

	<TR><td><A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_style.htm" title="DirectMusic Producer Components: Style">Style</A></td><td>Related Patterns and their associated Bands.</td></TR>

	<TR><td><A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_band.htm" title="DirectMusic Producer Components: Band">Band</A></td><td>Instrument selection and mix.</td></TR>

	<TR><td><A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_DLS.htm" title="DirectMusic Producer Components: DLS collection">DLS collection</A></td><td>Custom instruments and sound effects.</td></TR>

	<TR><td><A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_chordmap.htm" title="DirectMusic Producer Components: Chordmap">Chordmap</A></td><td>Variable chord progression and scale.</td></TR>

	<TR><td><A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_pattern.htm" title="DirectMusic Producer Components: Pattern">Pattern</A></td><td>Rhythmic and melodic phrases made up of notes and rests.</td></TR>

	<TR><td><A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_motif.htm" title="DirectMusic Producer Components: Motif">Motif</A></td><td>Layering over existing music.</td></TR>

	<TR><td><A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_wave.htm" title="DirectMusic Producer Components: Wave">Wave</A></td><td>Making up a DLS collection (individual instrument sounds); can also be premixed music, sound effects, dialog, Wave Tracks in Segments, and so on.</td></TR>

	<TR><td><A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_Audiopath.htm" title="DirectMusic Producer Components: Audiopath">Audiopath</A></td><td>Defining a configuration for the synth engine to use when playing DirectMusic content.</td></TR>

	<TR><td><A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_container.htm" title="DirectMusic Producer Components: Container">Container</A></td><td>Packaging together all music files.</td></TR>

	<TR><td><A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_script.htm" title="DirectMusic Producer Components: Script">Script</td><td>Providing custom access to computer commands.</td></TR>


</TABLE>


<BR>
<BR>
<BR>

<p align="left">
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_main.htm" title="DirectMusic Producer Components">DirectMusic Producer Components Home</A><BR><BR>
<BR><p align="left"><SMALL>Friday, July 21, 2000</SMALL>

</td>


