<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 
title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>

</td><td><STYLE>
table.tblconcept
	{
	width: 70%;
	background: #999999;
	margin-top: .6em;
	margin-bottom: .3em;
	}
table.userdata td 
	{
	background: #ffffff;
	background-color: #F5F5F5;
	border-color: #ffffff;
	border: none;
	}	
table.tblconcept th
	{ 
	padding: 4px 8px;
	background: #cccccc;
	text-align: left;
	font-size: 70%;
	vertical-align: bottom;
	
	}
		
table.tblconcept td
	{ 
	padding: 4px 8px;
	background: #ffffff;
	vertical-align: top;
	font-size: 70%;	
	}
</STYLE><H2>DirectMusic Producer Components</H2>

<H4><A NAME=Pattern>Pattern</A></H4>

<P>A Pattern is a subcomponent contained in a Style that establishes rhythmic and melodic lines for particular instruments. To increase musical interest, you can create as many as 32 variations for each instrument Part within a Pattern. As a Pattern plays, DirectMusic Producer combines variations from each Part in changing combinations. When a Part has multiple variations, the variations are selected at random when the Style is played. You can also choose an order (random order, sequential from first variation, sequential from random, no repeats, and shuffle--which means no variations are repeated until all available variations are played) in which the variations of a Part are played.
<BR>
<BR>
<P>A well-designed DirectMusic Producer piece can contain hundreds of Patterns and rhythms for each instrument. Thus, when DirectMusic performs a piece of music, the possible combinations and variations of Patterns are almost infinite.
<BR>
<BR>
<P>Double-clicking a Pattern (or Motif) in the Style Designer window opens Pattern Editor:


<BR>
<IMG src="/content/img/DMPC_PattEdtr.gif" WIDTH="495" HEIGHT="355" ALT="" BORDER="0">
<BR>
<BR>


<br>
<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_contributes2.htm" title="DirectMusic Producer Components Table">Back to Components table</A><BR>

<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_main.htm" title="DirectMusic Producer Components">DirectMusic Producer Components Home</A><BR><BR>
<BR><SMALL>Friday, July 21, 2000</SMALL>

</td>