<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 
title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>


</td><td>
<H3>White Papers &#8211 Artist's Corner</H3>

<P>White papers are a great source of supplementary information. Check out what we have so far, and check back for additional white papers soon.</P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_art_wp_tricks.htm" title="Cool Xbox Tricks"><B>Cool Xbox Tricks</B></a><BR>
Amaze your friends and confound your enemies!</P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_art_wp_ttt.htm" title="Tips, Tricks, and Techniques"><B>Tips, Tricks, and Techniques</B></a><BR>
Handy tips and tricks to help you make great Xbox games.</P>

<BR>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_wp_models.htm" title="Common Models for User Interfaces"><B>Common Models for User Interfaces</B></a> (3.02 KB)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<I>New: posted 8/23/01</I></P>
<P><A HREF="/BPProgInfo.asp?Page=content/cdcentral_art_wp_pclook.html" title="Avoiding the PC Look"><B>Avoiding the PC Look</B></a>&nbsp;&nbsp;&nbsp;<I>New: posted 8/7/01</I></P>
<P><A HREF="/BPProgInfo.asp?Page=content/cdcentral_art_wp_perfexp.htm" title="Graphics Performance"><B>Graphics Performance</B></a></P>
<P><A HREF="/BPProgInfo.asp?Page=content/cdcentral_art_wp_NormalMap.html" title="Generating High Fidelity Normal Maps with 3-D Software"><B>Generating High Fidelity Normal Maps with 3-D Software</B></a></P>
<P><A HREF="/BPProgInfo.asp?Page=content/cdcentral_art_wp_shadows.htm" title="Shedding Some Light on Shadows"><B>Shedding Some Light on Shadows</B></a></P>

<BR>

</td>





	
