<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 
title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>


</td><td>
<H3>Best Practices Guides &#8211 Designer/Producer's Corner</H3>
<BR>

<P>The Best Practices guides are designed to help familiarize you with the process of developing and integrating content for Xbox.</P>

<UL>
<P><A HREF="/BPProgInfo.asp?Page=content/cdcentral_despro_wp_bp_differentiation.htm" title="Xbox Differentiation Features"><B>Xbox Differentiation Features</B></A>&nbsp;&nbsp;<I>(New: posted 2/26/01)</I><br>
</UL>

<BR><BR>

</td>





	
