<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 
title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>



</td><td>
<H2>Designer/Producer's Corner</H2>

<P>Welcome to the Designer/Producer's Corner of Xbox Content and Design Central.</P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_news.htm" title="News"><B>News!</B></a><BR>
News for designers and producers working with Xbox.</P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_bestpractices.htm" title="Best Practices Guides"><B>Best Practices Guides</B></a><BR>
Best practices for designers and producers working with Xbox.</P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_whitepapers.htm" title="White Papers"><B>White Papers</B></a><BR>
White papers for designers and producers working with Xbox.</P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_faq.htm" title="FAQ"><B>FAQ</B></a><BR>
Frequently asked questions for designers and producers working with Xbox.</P>

<BR>
<BR>

</td>





	
