<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 

title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P><BR>
<BR>
</td><td>
<STYLE>
table.tblconcept
	{
	width: 70%;
	background: #999999;
	margin-top: .6em;
	margin-bottom: .3em;
	}
table.userdata td 
	{
	background: #ffffff;
	background-color: #F5F5F5;
	border-color: #ffffff;
	border: none;
	}	
table.tblconcept th
	{ 
	padding: 4px 8px;
	background: #cccccc;
	text-align: left;
	font-size: 70%;
	vertical-align: bottom;
	
	}
		
table.tblconcept td
	{ 
	padding: 4px 8px;
	background: #ffffff;
	vertical-align: top;
	font-size: 70%;	
	}
</STYLE><H1>DirectMusic Producer Components</H1>

<P><em>By Chanel Summers, Worldwide Creative Manager, Xbox Content and Design Team</em>
<BR>
<BR>
<BR>

<P>The purpose of this Microsoft&#174; Xbox&#153 paper is to define the major components and file types of Microsoft&#174; DirectMusic&#174; Producer, the authoring tool for DirectMusic.  
<BR>
<BR>
<P>The following chart describes the various DirectMusic Producer components and how they relate to the composing process and interrelate to create interactive music.
<BR>
<BR> 
<P>A DirectMusic Producer project can contain the following components:
<BR>
<BR>

<TABLE border="1">

<TR VALIGN="top"><TH align=left ><B>Component Name </B></TH><TH align=left ><B>File Extensions </B></TH><TH align=left><B>Description </B></TH></TR>

	<TR><td>Segment</td><td>.sgp and .sgt   </td><td>Basic unit that combines various music elements. Provides length, measure placement, and beats where all music elements are positioned and timed.</td></TR>
	
	<TR><td><A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_main_style.htm" title="Style Subcomponents">Style</a></td><td>.stp and .sty</td><td>A collection of melodic and rhythmic Patterns; also includes a list of Band choices. A typical Style contains special embellishment Patterns, such as an Introduction, Break, Fill, or Ending, as well as individual Motifs--musical or ambient figures that can be triggered on command (or at an appropriate boundary) and layered over the background Patterns.</td></TR>

	<TR><td>Band</td><td>.bnp and .bnd</td><td>A collection of instrument program changes and patch changes used to play the music. You can balance the relative volume of the instruments in the Band and adjust the left and right pan positions for each instrument.</td></TR>

	<TR><td>DLS Collection	</td><td>.dlp and .dls</td><td>A collection of downloadable sounds available as instrument sounds.</td></TR>

	<TR><td>Chordmap</td><td>.cdp and .cdm</td><td>A collection of variable chord progressions.</td></TR>

	<TR><td>Wave</td><td>.wvp and .wav</td><td>Digitally recorded sound files. A Wave can exist as a standalone component in the project tree or be included in a DLS instrument as a source of sound. Waves can be mono or stereo and in the case of Wave Tracks, waves can be looped, one-shot or streaming, and can be started from any offset into the Wave.</td></TR>

	<TR><td>Audiopath</td><td>.aup and .aud</td><td>A path from the sound data to the audio hardware. An Audiopath is used to play and manage sound effects and music.</td></TR>

	<TR><td>Container</td><td>.cop and .con</td><td>Containers allow users to package all the files used for a given purpose into a single parent file. Files can be referenced or embedded, or any combination of the two. When you save the Container, it keeps either a reference to the components you place in it or a complete run-time copy of the components.</td></TR>

	<TR><td>Script</td><td>.spp and .spt</td><td>A collection of routines, typically created by the audio designer in Producer.</td></TR>

</TABLE>

<BR>
<BR>
<P>In this table, each component type is shown with two file extensions. The first extension is used when the file is under construction in DirectMusic Producer (design-time). The second extension is used when the file is ready to play in an application (run-time mode). DirectMusic Producer can load files in both forms--it converts a run-time file into a design-time file.

<BR>
<BR>
<BR>
<P>For more information on the subcomponents of the Style element, see:
<BR><A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_main_style.htm" title="Style Subcomponents">Style Subcomponents</A><BR>
<BR>
<P>For additional information about the compositional attributes of each component and subcomponent, see:
<BR><A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_contributes2.htm" title="What Each Component Contributes to a Composition">What Each Component Contributes to a Composition</A><BR>

<BR>
<BR><p align="left"><SMALL>Friday, July 21, 2000</SMALL>

</td>


