<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 
title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>



</td><td>
<H2>Xbox Artist FAQ</H2>
<br>
<OL>
<li><b>Where can I download models of the console and controllers for use in our game?</b><br>
See <a href="/BPProgInfo.asp?Page=content/cdcentral_despro_wp_models.htm" title="Common Models for User Interfaces"><B>Common Models for User Interfaces</B></a>.</li><br><br>
<li><b>What is a 3-D texture?</b><br>
A 3-D texture is also called a volume texture. A 2-D texture has height and width and is a flat image. A 3-D texture has height and width and also depth and can be thought of as a cubic block of texture. A 3-D texture is created by stacking a series of 2-D textures, each one representing a single pixel-thick slice from the 3-D cube. Volume textures should not be confused with voxel objects. Just like 2-D textures, 3-D textures have to be applied to some surface to be seen. Three-D textures are commonly used for lighting and special effects. Two-D textures use U and V coordinates to determine how the texture is applied to a surface. Three-D textures use U, V, and W coordinates because they are three-dimensional.</li><br><br>

<li><b>Can you compress 3-D textures?</b><br>
Yes. Three-D textures can be in all the formats of 2-D textures and can be compressed.</li><br><br>

<li><b>What is the texture compression format used by the Xbox&#8482; video game system from Microsoft?</b><br>
Xbox supports five similar formats, DXT1, DXT2, DXT3, DXT4, and DXT5. DXT2 is basically the same as DXT3, and DXT4 is basically the same as DXT5. A different format should be chosen depending on the nature of the texture to be compressed and the desired results. The March release of the Xbox Development Kit (XDK) includes a tool called Bundler that will do batch format conversion on textures and package them up into a single file for optimized loading on the Xbox. Source code is included so that developers can see how to do texture conversion/packaging.</li><br><br>

<li><b>What are pixel shaders?</b><br>
Pixel shaders are custom programs that run in the graphics processing unit (GPU) and affect the color and blending characteristics of pixels. Pixel shaders can be used to create numerous custom colorization, transparency, lighting, and surface effects.</li><br><br>

<li><b>Can I write my own pixel shaders?</b><br>
The most exciting thing about pixel shaders is specifically that they are written by game makers to give them the ability to create custom pixel shading effects. Pixel shaders are programs, and their creation requires programming skill, so usually programmers create them. Several manufacturers, such as Discreet, Right Hemisphere, and Lithtech, are creating user interfaces to allow artists control over pixel shaders without having to acquire programming skills. </li><br><br>

<li><b>What is a stencil buffer?</b><br>
A stencil buffer is a block of memory that can be used as a mask to control drawing on the screen. Like the z-buffer and the Alpha-buffer, it is the same size as the image buffer, which holds the image that is actually displayed on screen. The stencil buffer is like a mask channel in Photoshop. It can be used in creating reflections and shadows; however, it can be employed for any function in which a mask channel would be useful. Like the z-buffer, the only way to put things into the stencil buffer is to draw polygons to it.</li><br><br>

<li><b>Can I use a texture on polygons drawn to the stencil buffer? I'd like to create soft-edged shadows by using textures to control the edge sharpness.</b><br>
Like the z-buffer, the stencil buffer doesn't evaluate textures, so this technique is not possible. </li><br><br>

<li><b>What's a cubic environment map?</b><br>
A cubic environment map is a virtual cube consisting of six images: North, East, West, South, Top, and Bottom. It can be used as a completely enclosing backdrop for scenes if the viewer is placed inside the cube. Cubic environment maps also can be used as reflections for reflective objects. It is possible to render a scene six times to generate the six images required for a cubic environment map so that objects in the scene can reflect a changing scene accurately.</li><br><br>

<li><b>What should my graphics and texture budgets be for my game?</b><br>
There's no hard and fast answer for this question. Texture, geometry, audio, variables, and code must all fit within the 64 megabytes of system memory on the Xbox. About 12 to 16 megabytes is the norm we're seeing. This assumes the use of texture compression, allowing an effective budget of 48 to 72 megabytes of texture space because textures are decompressed only when applied to surfaces and never expand to their uncompressed memory size when used.</li><br><br>

<li><b>Can I cache things off of the DVD while the game is playing?</b><br>
Yes. The Xbox can continue to display images and run game code while the DVD is accessed. However databases have to be designed to manage the streaming of data from the DVD. The hard disk can also be used to stream data.</li><br><br>

<li><b>Is there an Xbox 3-D format?</b><br>
Not currently. So many things are customizable through vertex and pixel shaders that there has been debate as to whether such a format could exist. There are ongoing efforts in the Microsoft&#174; DirectX&#174; group to develop an extension to the existing .x format for DirectX 8. Since many of Xbox's features are similar to those of DirectX 8, it is possible that if such a format is developed, it will be useful for development on the Xbox. If such a format is developed, we will post announcements on this site.</li><br><br>

<li><b>What third party art tools support Xbox-specific features?</b><br>
Discreet has put support for pixel and vertex shaders into Max4. Lithtech has put support for artist manipulation of pixel and vertex shaders into its engine and would consider licensing the technology. Right Hemisphere is starting development on vertex and pixel shader support in Deep Paint 3D and should have this support in place in their product shortly. Other manufacturers are considering adding support for Xbox features, but there is nothing complete at this time. We will post announcements when Xbox-approved vendors add support to their tools.</li><br><br>

<li><b>I heard the Xbox is capable of doing 125 million triangles per second. Is this really true?</b><br>
The final hardware should be capable of this performance. Current dev kits are about 2.5 times slower than this, but final hardware will have an additional geometry pipeline and a faster clock speed. Required features of actual games introduce factors that slow best-case performance on all graphics hardware. In actual games, most developers will achieve results around 20 million to 25 million polygons per second. This assumes two textures applied to polygons and a single light source, plus ambient lighting per polygon. The use of four textures per polygon and additional light sources, as well as other high-end features that will often be used in games, will slow polygon performance. Currently developers are getting performance numbers in the neighborhood of 12 million to 20 million polygons per second. It is expected that a few games will see performance in the neighborhood of 30 million to 40 million polygons per second with very careful optimization.</li><br><br>

<li><b>What are the really amazing features of the Xbox?</b><br>
Please see the paper entitled "<a href="/BPProgInfo.asp?Page=content/cdcentral_art_wp_10graphicsfeatures.htm" title="Ten Graphics Features That Will Supercharge Your Xbox Game"><B>Ten Graphics Features That Will Supercharge Your Xbox Game</B></a>." </li><br><br>

<li><b>The Xbox supports 8-bit textures. Why would I want to use 8-bit textures?</b><br>
The 8-bit textures are indexed to a custom color palette, so the user has control of the 256 custom colors that are used in them. The nature of textures often means that when the right color palette is used, 256 custom colors are indistinguishable from 24-bit true-color textures and use only a third of the memory space. Remember that, even though the texture is 8 bit, lighting and other shading are conducted in 24-bit color space. While texture compression also allows the size of true color textures to be much smaller, texture compression can introduce visual artifacts. These artifacts are often most objectionable when subtle color ramps are used in a texture. Often, superior visual results can be achieved with 8-bit indexed color textures. Additionally, the use of palettes can allow objects to change colors merely by changing the color palette. Shifting texture colors over time can be achieved easily with indexed color palettes but can be quite difficult with true-color textures.</li><br><br>

<li><b>I heard there were some limitations with point sprites. What are these?</b><br>
Point sprites can be a maximum of only 64 &times; 64 pixels on screen. This prevents them from being used for screen filling effects that totally obscure the view, such as rolling smoke. These kinds of effects can still be created using conventional billboard objects, but point sprites are more useful for sparks or other elements where the size restriction is not a problem.</li><br><br>

<li><b>I am doing continuous mesh characters that have 150 bones, and my game is running slowly. How many bones should I use?</b><br>
Generally 50 to 60 bones should be the maximum used for a single continuous mesh. This is because of the number of GPU registers required to hold the information on each bone. If you want to use 150 bones in a character, you should find a way to subdivide your mesh so that 60 or fewer bones control each continuous mesh in the character. A number of developers are being quite successful using around 40 bones to control human characters. To keep bone counts down, you may wish to consider using morph targets for some parts of your animation, such as hand motion and facial expressions.</li><br><br>

<li><b>Can you self-shadow on point-sprite particles?</b><br>
No. Shadowing effects can be faked through various techniques, but point-sprites do not cast shadows.</li><br><br>

<li><b>Where can I see examples of some of the Xbox's graphic abilities? </b><br>
Each month new samples are released that run on the Xbox Development Kits. These samples demonstrate many of the abilities of the Xbox, though they are designed as programming examples, not as visual demos. Additionally, many of the abilities of pixel shaders and vertex shaders are available for download on the developer relations section of the NVIDIA Web site. </li><br><br>

<li><b>What is parametric texturing?</b><br>
Parametric texturing is a method of applying texture coordinates based on the 2-D elements used in creating a 3-D surface. It is commonly used to texture patch surfaces.</li><br><br><BR>


<SMALL>Wednesday, March 14, 2001</SMALL> 




</td>





	
