<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 

title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>



</td><td>
<H2>Keyboard Shortcuts for
DirectMusic Producer 
</H2>
<P><I>By Scott Selfon, Audio Content Consultant, Content and Design Team, Xbox Advanced Technology Group</I></P>

<P><SMALL>Microsoft Confidential</SMALL></P>

<P><I>This is part of a series of &quot;column-style&quot; white papers on various aspects of Microsoft&#174; DirectMusic&#174; Producer, the content creation tool for DirectMusic. If you would like to see a specific area addressed, please send e-mail to</I> <a href="mailto:content@xbox.com">content@xbox.com</a>. </P>
<H3>Introduction</H3>

<P>Microsoft&#174; DirectMusic&#174; Producer, the content authoring tool for the Xbox&#8482; video game system from Microsoft, has been given the enormous task of exposing every feature of DirectMusic, from low level note variability to full blown segment editing, from Microsoft&#174; DirectX&#174; Audio scripting to Downloadable Sounds (DLS) collection manipulation. Suffice it to say, there are quite a few tools that DirectMusic Producer has been tasked with exposing to the user in a way that gives more control to content authors. Often, these tools can appear unfamiliar or difficult to use, because they have no linear equivalents; sequencers and wave editing software don't generally expose the functionality of making their content interactive, variable, or dynamic. This white paper will be a "cheat sheet" of DirectMusic Producer shortcuts that simplify the process of creating content.</P>

<H3>MIDI and Wave Clipboards</H3>
<P>First and foremost, DirectMusic Producer is not meant to replace your existing wave editing and sequencing software. DirectMusic Producer provides the most basic sequencing and wave editing functionality, but advanced manipulation is generally left to more specialized applications. There are many ways to use these applications in tandem, from using DirectMusic Producer simply as a DLS file manager<sup><font size:"9">1</font></sup> (and method of communicating to the Microsoft Software Synthesizer<sup><font size:"9">2</font></sup>) with a sequencer triggering the samples, to full integration, where content authored in other applications is imported into DirectMusic Producer, either via wave/MIDI import options, or via the clipboard.</P>
<P>Copying content via the clipboard is a fairly straightforward process. For wave data, select the waveform in your wave editing software and use the copy command (generally CTRL+C). Then in DirectMusic Producer, either open an existing wave or create a new wave (making sure it's the same sampling rate; DirectMusic Producer does not convert sample rates), open the wave editor window, and use the paste command.</P>
<P>For sequenced data, a single track can be added the exact same way. Use the copy command to take the information from your source sequencer, click the mouse into the sequence track, pattern track, or pattern part (in a style), and add it using the paste command.</P>
<P>To copy multiple tracks, use of the rectangular track selection button to the left of each part you wish to copy information from or to:</P>
<OL>
<LI>Select one or more tracks in your sequencer. Then in DirectMusic Producer, click the track selection button next to each performance channel you wish to add tracks to. The button will turn red (or orange, if the track happens to be the currently active audition track<sup><font size:"9">3</font></sup>).<BR><BR>
<IMG src="/content/img/DMP_shortcuts_image_1.gif" WIDTH="231" HEIGHT="76" ALT="" BORDER="0"><BR><BR><P><B>Illustration</B>&nbsp;&nbsp;<I>The rectangular track selection button. A track selected to copy multiple tracks from will be red (or orange, if it's the current audition track); an unselected track will be gray (or yellow, if it's the current audition track).</I></P></LI>
<LI>Once all of the buttons are selected, click the position in the timeline where you want the information to be added. If you only want to add tracks to a specific area (that is, not the entire length of the segment), drag select it from the timeline.<BR><BR>
<IMG src="/content/img/DMP_shortcuts_image_2.gif" WIDTH="393" HEIGHT="69" ALT="" BORDER="0"><BR><BR><P><B>Illustration</B>&nbsp;&nbsp;<I>Click in the timeline to determine where the information should be added. Timeline clicks "snap" to the setting you choose from the right click menu (<B>None, Grid, Beat, </B>or <B>Barline</B>).</I></P></LI>
<LI>Now use the paste command (CTRL+V defaults to paste merge, or you can click <B>Edit</B>, click <B>Paste</B>, then choose either <B>Merge</B> or <B>Overwrite</B> from the menu). Each track that was taken from your sequencer is added to the corresponding track of your segment or pattern (in a style). Note that performance channels need not correspond, so if you took information from MIDI tracks 1 to 4 of your sequencer, they need not be added to pchannels 1 to 4.</LI>
</OL>

<H3>General DirectMusic Producer Shortcuts</H3>
<P>Most features that have shortcuts have them listed in the right click or top-level drop-down menus, or in the ToolTip that appears when your mouse hovers over a button. The following table lists a few commonly used shortcuts.</P>
<TABLE style="BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN-LEFT: 0.2in; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; BORDER-COLLAPSE: collapse" 
cellSpacing=0 cellPadding=0 border=1>
<TR bgcolor=#CCCCCC><TH style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Function</TH><TH style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Shortcut</TH><TH style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Comments</TH></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Play/stop (primary segment)</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Space bar; ALT+.</TD><TD style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Wave editor always plays waves from start; other editors, based on cursor position. Stop will stop all segments, not just primary (hold down CTRL while clicking the stop button to stop only the primary segment).</TD></TR>
<TR><TD style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Play from start (primary segment)</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">ALT+,</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">&nbsp;</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Play/stop (secondary segment x)</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">CTRL+ALT+<I>x</I></TD><TD style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid"><I>x</I> is the underlined letter/number of the secondary segment (to the left of the drop-down menu)</TD></TR>
<TR><TD style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Transition to selected segment</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">ALT+'</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Equivalent to pressing the "a|b" button; available only when a primary segment is playing</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Move cursor to start</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Home</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Segments and patterns</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Move cursor to end</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">End</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Segments and patterns</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Horizontal zoom in/zoom out</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">I/O</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">&nbsp;</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Vertical zoom in/zoom out</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">A/Z</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Works only on expanded parts in audition mode (click into an expanded part, which turns its track selection button yellow)</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Toggle project tree view</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">SHIFT+F11</TD><TD style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">&nbsp;</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Toggle property page view</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">F11</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Remember that Producer has the concept of open property pages; click on an item and the property page will automatically display most things you can edit for that item.</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Open Help file</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">F1</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Most editors will open the Help file to a page specific to their features.</TD></TR>
</TABLE>

<H3>MIDI Shortcuts</H3>
<P>Remember that DirectMusic Producer is not meant to replace your existing wave editing and sequencing software; it generally provides basic functionality for sequencer-style functions. The following table lists some shortcuts relating to MIDI use.</P>
<TABLE style="BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN-LEFT: 0.2in; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; BORDER-COLLAPSE: collapse" 
cellSpacing=0 cellPadding=0 border=1>
<TR bgcolor=#CCCCCC><TH style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Function</TH><TH style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Shortcut</TH><TH style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Comments</TH></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Snap to none</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">CTRL+E</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">The note cursor will change size based on the "snap to" value</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Snap to grid</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">CTRL+G</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">&nbsp;</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Snap to beat</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">CTRL+T</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">&nbsp;</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Snap to barline</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">CTRL+B</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">&nbsp;</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Next/previous "snap to" boundary</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Right/left arrow keys</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">&nbsp;</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Next/previous measure</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">CTRL+right/left arrow keys</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">&nbsp;</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Toggle record/stop record</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">ALT+/</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">When the record button is pressed, you can step record by clicking into a sequence track, pattern track, or pattern part (in a style) and then playing from a MIDI keyboard; you can start to real-time record by activating the Play (ALT+.) or Play from start (ALT+,) button</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Insert note</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">CTRL+mouse click</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">By dragging before releasing, you can adjust the note to be longer or shorter than the default "snap-to" value</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Insert note ("snap to" duration)</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">INSERT</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Click or use arrow keys to position cursor where you want the note first</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Insert controller curve</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">INSERT, then click+drag</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">The controller track must first be maximized and have focus (indicated by yellow track selection button)</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Multiple note/curve select</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Click+drag around notes</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">You can also CTRL+click multiple notes, or SHIFT+click a note to grab all of the notes between previous selection and this note</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Quantize</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">CTRL+Q</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">&nbsp;</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Edit velocity</TD><TD style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">CTRL+L</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">&nbsp;</TD></TR></TABLE>

<H3>Segment Designer Shortcuts</H3>
<P>Most of the "general" and "MIDI" shortcuts apply to this editor, but here are a few that are specific to Segment Designer. In most cases, the segment designer window needs to have focus for the shortcut to work.</P>
<TABLE style="BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN-LEFT: 0.2in; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; BORDER-COLLAPSE: collapse" 
cellSpacing=0 cellPadding=0 border=1>
<TR bgcolor=#CCCCCC><TH style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid; WIDTH: 88pt">Function</TH><TH style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Shortcut</TH><TH style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Comments</TH></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Add new track(s)</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">CTRL+INSERT</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">In the dialog, CTRL+click selections (or SHIFT+select selection groups) to add multiple track types at once</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Delete track(s)</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">CTRL+DELETE</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">If any tracks have their track selection button active (red or orange), they will be deleted. Otherwise, the currently active part (yellow track selection button) will be deleted.</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Add new part(s)</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">CTRL+SHIFT+INSERT</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">For wave tracks, pattern tracks, and sequence tracks</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Delete part(s)</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">CTRL+SHIFT+DELETE</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">&nbsp;</TD></TR>
</TABLE>

<H3>DLS Designer Shortcuts</H3>
<P>Some of the functions of note editing apply to the bars above the piano roll representing regions&#8212;you can resize, move, and draw regions similar to notes. This and other shortcuts are listed below.</P>
<TABLE style="BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN-LEFT: 0.2in; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; BORDER-COLLAPSE: collapse" 
cellSpacing=0 cellPadding=0 border=1>
<TR bgcolor=#CCCCCC><TH style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Function</TH><TH style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Shortcut</TH><TH style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Comments</TH></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Add new region</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">CTRL+click (empty area)</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">In layers above piano roll; CTRL+drag to make longer</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Copy to new region</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">CTRL+click drag (existing region) </TD><TD style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">&nbsp;</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Return a slider to default position</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">CTRL+click any slider</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">&nbsp;</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Nudge slider</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Left and right arrow keys</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Click (or tab to) a slider first to select it</TD></TR>
<TR><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Articulation copy and paste commands</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Right click in an empty area to bring up shortcut menu</TD><TD valign="top" style="BORDER-RIGHT: windowtext 0.5pt solid; PADDING-RIGHT: 5.4pt; BORDER-TOP: windowtext 0.5pt solid; PADDING-LEFT: 5.4pt; PADDING-BOTTOM: 0in; BORDER-LEFT: windowtext 0.5pt solid; PADDING-TOP: 0in; BORDER-BOTTOM: windowtext 0.5pt solid">Enables the copy and paste commands between instrument articulations or region articulations, but not from one type to the other</TD></TR>
</TABLE>
<P>For other shortcuts, please consult the DirectMusic Producer Help file topic entitled <B>Keyboard Shortcuts.</B> And remember that the menus themselves will often tell you what the appropriate shortcut is.</P>
<P>For more information about DirectMusic Producer, MIDI and DLS editing, and DirectMusic concepts, please consult the "DirectMusic Producer FAQ," "DirectMusic Producer Terminology" white paper, or the DirectMusic Producer Help document, or send e-mail to <a href="mailto:content@xbox.com">content@xbox.com</a></P>
<HR ALIGN="left" WIDTH="300">
<P style="font-size:12"><SUP>1</SUP>&nbsp;See the white paper "<A HREF= "/BPProgInfo.asp?Page=content/cdcentral_audio_wp_MIDItriggering.htm"><B>Using DirectMusic Producer to Trigger DLS Instruments from Non-DLS-Enabled Sequencers</B></A>" for more details on using DirectMusic Producer solely as a DLS management tool for external triggering.
<P style="font-size:12"><SUP>2</SUP>&nbsp;In the future, DirectMusic Producer will communicate directly with the Xbox audio hardware (Xbox MCP), which supports a superset of the DLS-2 specification. It currently uses the Microsoft Software Synthesizer, a fully functional DLS-2 synthesizer that is provided with DirectX 8 on Windows platforms. There are also several DLS-1 synthesizers (hardware and software) available to choose from if you prefer, though of course DLS-2 features would be unavailable. You can specify a new synthesizer from the <B>MIDI/Performance Options</B> dialog, or create an audiopath configuration that uses your synthesizer for specific sets of performance channels.
<P style="font-size:12"><SUP>3</SUP>&nbsp;For more details, see the topic "Audition Mode: Controlling Variation Behavior (in Producer only)" in the white paper "<A HREF= "/BPProgInfo.asp?Page=content/cdcentral_audio_wp_variations1.htm"><B>Variations: Adding Basic Variability to Audio Content in DirectMusic Producer.</B></A>"

<BR><BR><BR>

<SMALL>Monday, April 2, 2001</SMALL>



</td>


</TD>



	
