<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 

title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>

<BR>
<BR>
</td><td><STYLE>
table.tblconcept
	{
	width: 70%;
	background: #999999;
	margin-top: .6em;
	margin-bottom: .3em;
	}
table.userdata td 
	{
	background: #ffffff;
	background-color: #F5F5F5;
	border-color: #ffffff;
	border: none;
	}	
table.tblconcept th
	{ 
	padding: 4px 8px;
	background: #cccccc;
	text-align: left;
	font-size: 70%;
	vertical-align: bottom;
	
	}
		
table.tblconcept td
	{ 
	padding: 4px 8px;
	background: #ffffff;
	vertical-align: top;
	font-size: 70%;	
	}
</STYLE><H2>DirectMusic Producer Components</H2>

 <H4><A NAME=DLS collection>DLS Collection</A></H4>

<P>The technology used by DLS (Downloadable Sounds) is called wavetable synthesis, which is the synthesis of instrument sounds from digital samples. These samples are obtained from recordings of real musical instruments or from any sound you want to use for playback, such as a dog&#39;s bark or dripping water. The sampled sound is stored as digital information and then looped and manipulated to produce continuous sounds at various pitches and volumes.
<BR>
<BR>
<P>The sounds in a DLS collection are used to make up the instruments in Band components. The DLS collection defines musical instruments in terms of downloadable sounds.
<BR>
<BR>
<P>You can modify sounds in an existing DLS collection or create your own DLS collection from custom sounds. 
<BR>
<BR>
<P>Beginning with the Microsoft DirectX&#174;8 release of DirectMusic Producer, you can design DLS collections to take full advantage of DLS Level 2 sounds. 
<BR>
<BR>
<P>DLS Level 2 provides several new options for designing DLS instruments:
<BR>
<BR>

<UL>
<LI><B>Ability to insert stereo waves</B><BR>
In addition to mono wave files, you can insert stereo waves into the Waves folder of a DLS collection and integrate them into DLS-2 instruments.</LI>
<BR><BR> 
<LI><B>128 regions for all DLS instruments</B><BR>
DLS Level 2 allows all DLS instruments to have a separate region (each referencing a single wave) for each of the 128 MIDI notes.</LI>
<BR><BR> 
<LI><B>Multiple layers of regions</B><BR>
DLS Level 2 allows each MIDI note to control multiple regions (each referencing a single wave). Regions can be layered (to achieve a richer timbre) or can have unique velocity ranges assigned.</LI>
<BR><BR> 
<LI><B>Two LFO generators</B><BR>
The low frequency oscillator (LFO) capabilities of the articulation are doubled, from one to two LFO controls. The first is designated for volume while the second is designated for pitch or filter modulation.</LI>
<BR><BR> 
<LI><B>Six Segment envelope generators</B><BR>
DLS Level 2 adds Delay and Hold to feature six Segment envelopes: Delay, Attack, Hold, Decay, Sustain, and Release.</LI>
</UL>

<BR>
<P>Opening a DLS collection launches DLS Designer and displays a window similar to the following:

 
<BR>
<IMG src="/content/img/DMPC_DLSDesig.gif" WIDTH="415" HEIGHT="370" ALT="" BORDER="0">
<BR>
<BR>


<br><A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_contributes2.htm" title="DirectMusic Producer Components Table">Back to Components table</A><BR>

<A HREF="/BPProgInfo.asp?Page=content/cdcentral_DMP_comp_main.htm" title="DirectMusic Producer Components">DirectMusic Producer Components Home</A><BR><BR>
<BR><SMALL>Friday, July 21, 2000</SMALL>

</td>