<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 
title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>



</td><td>
<H3>Frequently Asked Questions &#8211 Artist's Corner</H3>

<P>Check out this section for answers to your frequently asked questions about creating art for Xbox.</P>
<BR>
<P><B><A HREF="/BPProgInfo.asp?Page=content/xbox_faq_graphics_answers.htm">Graphics FAQ</A></B><BR>
This FAQ contains information about the Xbox graphics processing unit (GPU).</P>

<P><B><A HREF="/BPProgInfo.asp?Page=content/cdcentral_art_faq_artist.htm">Xbox Artist FAQ</A></B><BR>
This FAQ contains valuable information for artists creating games for Xbox.</P>

<BR>

</td>





	
