<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 
title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>


</td><td>
<H2>Meet the Xbox Content and Design Team</H2>

<P><B>Dave McCoy (Graphics Techniques Consultant, Xbox Content and Design Team)</B></P>

<P><img src="/content/img/dave.jpg" border="0" ALIGN="left" width="87" height="90" alt="Dave" STYLE="margin-right:15;">Dave joined the gaming industry in 1991 when he left Atlantic Digital Image, the Washington D.C. computer graphics company he co-founded, and joined Virtual World Entertainment to lead graphics production for their location-based-entertainment Battletech simulators. Drawing on his ten years of experience creating computer generated video and film graphics, Dave worked with VWE&#39;s hardware and software engineers to create graphics well beyond state-of-the-art for computer game visuals at the time.</P><br>

<P>Dave eventually became the company&#39;s Creative Director, collaborating with Jordan Weisman on the design and creation of all of VWE&#39;s new game projects. He also took a lead role in creating the company&#39;s next-generation TESLA simulators, art directing and working with hardware and software teams to produce graphics previously unseen in games. He additionally supervised computer graphics production and devised an animation sequencing system developed under contract by Windlight Studios for the Battletech animated television show&#8212;one of the first shows to use computer generated imagery.</P>

<P>When VWE merged with its sister company, FASA Interactive, Dave continued as Creative Director for the combined company, a role that included reviewing all game concepts, creative troubleshooting, hiring and managing creative staff and assisting in marketing programs and business planning. Additionally Dave headed graphics production for Mechcommander and later served as the designer/producer for Invasion, a 360-degree interactive theme park attraction produced under contract for Disney. He also directed the Graphics Tools and R&amp;D team for the company, creating a number of graphics techniques and production tools, one of which netted him his second patent in graphics technology.</P>

<P>Immediately before Microsoft&#39;s acquisition of FASA Interactive in 1999, Dave assisted in graphic design for Mechwarrior 3 and co-created Crimson Skies, a project on which he later consulted on graphics and design issues when it was made a PC game by Microsoft and Zipper Interactive.</P>

<P>While at Microsoft Dave served as an Art Director and Creative Director for the Intellectual Properties team, consulting on a number of game projects. He later devised several innovative graphics techniques and supervised cinema production for Mechwarrior 4. He also served as that project&#39;s lead designer.</P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_bios.htm" title="Chanel Summers"><B>Chanel Summers</B></a> | <a href="/BPProgInfo.asp?Page=content/cdcentral_scott.htm" title="Scott Selfon"><B>Scott Selfon</B></a></P>

<BR>

</td>





	
