<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/pub_info.htm" title="Home">Home</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral.htm" title="Content and Design Central">Content and Design Central</a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_despro_corner.htm" title="Designer/Producer's Corner">Designer/Producer's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_art_corner.htm" title="Artist's Corner">Artist's Corner</a><BR>

<a href="/BPProgInfo.asp?Page=content/cdcentral_audio_corner.htm" title="Audio Designer's Corner">Audio Designer's Corner</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_guide_info.htm" 

title="Xbox Guide">Xbox Guide</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_documentation.htm" title="Publisher Documentation">Publisher Documentation</a></P>

<P><a href="/BPProgInfo.asp?Page=content/pub_insider.htm" title="Xbox Insider">Xbox Insider</a></P>



</td><td>
<H2>Tips, Tricks, and Techniques</H2>
<P>These are a series of column-style articles inspired by Xbox graphics features that cover miscellaneous hints and ideas that can help make your graphics better and easier to create.</P>

<!--<P><a href="/BPProgInfo.asp?Page=content/cdcentral_art_wp_ttt_3D.htm" title="Beyond Bumps"><B>Beyond Bumps</B></a></P>-->

<UL>
<P><A HREF="/BPProgInfo.asp?Page=content/cdcentral_art_wp_ttt_CarShadows.htm" title="More Realistic Car Shadows"><B>More Realistic Car Shadows</B></a>&nbsp;&nbsp;&nbsp;<I>New: posted 8/22/01</I></P>

<P><A HREF="/BPProgInfo.asp?Page=content/cdcentral_art_wp_fire.htm" title="Playing with Fire 1"><B>Playing with Fire 1</B></a></P>

<P><A HREF="/BPProgInfo.asp?Page=content/cdcentral_art_wp_ttt_3d2dwood.htm" title="3-D 2-D Wood Textures"><B>3-D 2-D Wood Textures</B></a></P>

<P><A HREF="/BPProgInfo.asp?Page=content/cdcentral_art_wp_ttt_stencilbuff.htm" title="Stencil Buffer Holes"><B>Stencil Buffer Holes</B></a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_art_wp_ttt_better.htm" title="Better Coastlines"><B>Better Coastlines</B></a></P>

<P><a href="/BPProgInfo.asp?Page=content/cdcentral_art_wp_ttt_sharpen.htm" title="Sharpen Textures for Sharper Appearance"><B>Sharpen Textures for Sharper Appearance</B></a></P>
</UL>


<BR>

<SMALL>Wednesday, March 28, 2001</SMALL>



</td>





	
