body		{background:#66cc33;
		text-align:center;
		}

table		{position:relative;
		top:5;
		right:5;
		width:95%;
		background:white;
		}

.sidebar	{font-family:arial;
		 font-weight:normal;
		 font-size:12px;
		border-right:thin gray solid;
		padding-right:5px;
		width:20%;
		}

.sidebar .head	{font-size:larger; 
		font-weight:bold;
		text-transform:uppercase;
		}

.sidebar A:link	{color:black;
		text-decoration:none;
		}

.sidebar A:visited	{color:#999999;
		text-decoration:none;
		}

.sidebar A:hover	{color:green;
		text-decoration:none;
		}

.sidebar .corner	{position:absolute;
		bottom:-2px;
		top:auto;
		right:auto;
		left:-1px;
		}

.navbar		{background:#cccccc;
		 padding:5px;
		 margin:0 0 10px 0;
		 width:100%;
		 font-family:arial;
	 	 color:black;
		 font-weight:bolder;
		 font-size:14px;
		text-transform:uppercase;
		text-align:center;
		}

.navbar A:link	{color:#666666;
		text-decoration:none;
		 padding:10;
		}

.navbar A:visited	{color:#999999;
		text-decoration:none;
		 padding:10;
		}

.navbar A:hover	{color:green;
		text-decoration:none;
		 padding:10;
		}

.main .corner	{position:absolute;
		bottom:33px;
		top:auto;
		right:-4px;
		left:auto;
		}

.main		{margin-left: 1.5em;
		margin-right:1.5em;
		padding:5px;
		font-family:arial;
	 	color:black;
		font-size:12px;
		position:relative;
		}

EM.main		{font-size:120%;
		}

STRONG.main	{font-size:135%;
		}

SMALL.main, .fnote	{font-size:75%;
			width:50%;
			position:absolute;
			bottom:50px;
			top:auto;
			right:25%;
			left:25%;
			text-align:center;
			}
