<!--END checkin table-->
</table>
<br>
<hr>

<div class=clsCategoryHeading id=Summary><u>Online Checkins:</u></div>

<table class="clsTable" border="1" style="MARGIN-LEFT: -25px; MARGIN-TOP: 10px" cellspacing="1" cellpadding="2" bordercolor="#bad589">
    <thead>
        <tr>
            <td class="TableHead">Name</td>
            <td class="TableHead">Checkin</td>
        </tr>
    </thead>
<!--insert checkin table -->
