<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/TM_home.htm" title="Back">Back</a></P>


	<!--Footer End-->


</td><td><H2>Xbox Tools and Middleware Program FAQ</H2>

<BR>

<P><B>What is the Xbox Tools and Middleware program?</B></P>

<P>The Xbox Tools and Middleware program was created to give third parties an opportunity to support the Xbox development community. The program provides Xbox Development Kits (XDKs) to third-party tools and middleware developers at the request of our game developers.</P>

<P><B>How do you determine who is an Xbox Tools and Middleware provider?</B></P>

<P>Almost all Xbox tools and middleware providers are added to the program based on game developer request. Xbox game developers and publishers with approved Xbox titles can request any third-party tool or middleware for the Xbox platform by sending mail to <A HREF="mailto:xboxtlsm@microsoft.com"><B>xboxtlsm@microsoft.com</B></A>.</P>

<P><B>Do you endorse products that are signed to the Xbox Tools and Middleware program?</B></P>

<P>No. The tools and middleware products that are signed to the program are almost exclusively at developer request. Xbox does some investigation to ensure that the tool can function on the console, but there is no certification process for tools and middleware. This means that it is the game developer's responsibility to ensure quality in the tools and middleware before purchase. If there is a tool you need for your approved Xbox game, request it!</P>

<P><B>I would like to use a third-party tool or middleware in my Xbox game development. How do I request that the third-party tool or middleware company receive Xbox Development Kits so that they can support my game development?</B></P>

<P>If you have tools or middleware that is required to create your Xbox game title, send mail to <A HREF="mailto:xboxtlsm@microsoft.com"><B>xboxtlsm@microsoft.com</B></A>. We will do our best to work with all tools and middleware developers based on your request.</P>

<P><B>Who is currently developing for the platform and what are their products?</B></P>


<P>See <a href="/BPProgInfo.asp?Page=content/TM_providers.htm" title="Licensed Xbox Tools and Middleware Providers"><B>Licensed Xbox Tools and Middleware Providers</B></a>.</P>



<BR>

<P>If you have specific questions, please contact the Xbox Tools and Middleware manager, Drew Angeloff, at <A HREF="mailto:content@xbox.com"><B>drewa&#64;xbox.com</B></A>.</P>
<BR>	<!--Footer Start-->




</td>


</TD>



	
