<td valign="TOP" width="125">

<P><a href="/direct.asp" title="Back">Back</a></P>
	<!--Footer End-->


</td><td>
<H2>Xbox Tools and Middleware</H2>
<BR>

<P>The Xbox Tools and Middleware program was created to give third parties an opportunity to support the Xbox development community. The program provides Xbox Development Kits (XDKs) to third-party tools and middleware developers at the request of our game developers.</P>
<BR>

<P><a href="/scripts/xfestreg.asp" title="Xfest Registration" target="new"><STRONG>US Xfest Registration</STRONG></a><BR>
Register for Xfest being held Oct 23 and 24 in Bellevue Washington.</P>

<BR>
<P><a href="/BPProgInfo.asp?Page=content/Europeanxfestreg.htm" title="European Xfest Registration"><STRONG>European Xfest Registration</STRONG></a><BR>
Register for Xfest being held Oct 29 in London United Kingdom.</P>

<BR>
<P><B>This section of the site is currently under construction.</B> In the meantime, please see the <a href="/BPProgInfo.asp?Page=content/TM_providers.htm" title="Licensed Xbox Tools and Middleware Providers"><B>Licensed Xbox Tools and Middleware Providers</B></a> list and the <a href="/BPProgInfo.asp?Page=content/TM_faq.htm" title="Xbox Tools and Middleware FAQ"><B>Xbox Tools and Middleware FAQ</B></a>.</P>


<BR>	<!--Footer Start-->




</td>





	
