<td valign="TOP" width="125">

<P><a href="/BPProgInfo.asp?Page=content/TM_home.htm" title="Back">Back</a></P>
	<!--Footer End-->


</td><td>
<H2>Licensed Xbox Tools and Middleware Providers</H2>

<BR>

<TABLE CELLSPACING="5" CELLPADDING="5" ALIGN="center" BORDER="1">
<TR><TD><STRONG>Company</STRONG></TD>	<TD><STRONG>Product</STRONG></TD>	<TD><STRONG>Web Site</STRONG></TD></TR>

<TR><TD>4x Technologies</TD>	<TD>4xMovie</TD>	<TD>www.4xtechnologies.com</TD></TR>

<TR><TD>Alias|Wavefront</TD>	<TD>Maya</TD>	<TD>www.aliaswavefront.com/maya</TD></TR>

<TR><TD>Analog Devices</TD>	<TD>SoundMAX</TD>	<TD>www.analog.com/soundmax</TD></TR>

<TR><TD>Criterion Software</TD>	<TD>RenderWare Platform</TD>	<TD>www.csl.com and www.renderware.com</TD></TR>

<TR><TD>Crytek GmbH</TD>	<TD>CryENGINE</TD>	<TD>www.crytek.com/hp/tce.htm</TD></TR>

<TR><TD>CRI Middleware Co., LTD</TD>	<TD>Sofdec, ADX</TD>	<TD>www.cric.co.jp</TD></TR>

<TR><TD>Discreet	</TD><TD>3D Studio Max	</TD><TD>www.discreet.com</TD></TR>

<TR><TD>Epic Games	</TD><TD>Unreal Game Engine</TD>	<TD>www.epicgames.com</TD></TR>

<TR><TD>Havok.com	</TD><TD>Full Havok SDK and Havok Hardcore</TD>	<TD>www.havok.com</TD></TR>

<TR><TD>Hybrid Holding, Ltd.</TD>	<TD>Umbra PVS	</TD><TD>www.hybrid.fi</TD></TR>

<TR><TD>Intrinsic	</TD><TD>Alchemy Engine	</TD><TD>www.intrinsic.com</TD></TR>

<TR><TD>LithTech, Inc.	</TD><TD>Lithtech Engine	</TD><TD>www.lithtech.com</TD></TR>

<TR><TD>Mathengine PLC	</TD><TD>Karma	</TD><TD>www.mathengine.com</TD></TR>

<TR><TD>Numerical Design Ltd.	</TD><TD>NetImmerse C++ 3D Game Engine	</TD><TD>www.ndl.com</TD></TR>

<TR><TD>Quazal, Inc.	</TD><TD>NetZ	</TD><TD>www.quazal.com</TD></TR>

<TR><TD>RAD Game Tools, Inc.	</TD><TD>Bink, Granny	</TD><TD>www.radgametools.com</TD></TR>

<TR><TD>Right Hemisphere	</TD><TD>Deep Paint 3D, Texture Weapons, 3D Exploration	</TD><TD>www.righthemisphere.com</TD></TR>

<TR><TD>Secret Level, Inc.</TD>	<TD>Info Pending	</TD><TD>Info Pending</TD></TR>

<TR><TD>Sensaura</TD>	<TD>Info Pending	</TD><TD>www.sensaura.com</TD></TR>

<TR><TD>Silicon Studio Corporation	</TD><TD>Intrinsic Graphic's Alchemy (Japan)	</TD><TD>www.siliconstudio.co.jp</TD></TR>

<TR><TD>Softimage</TD>	<TD>Softimage	</TD><TD>www.softimage.com</TD></TR>

<TR><TD>Virtools</TD>	<TD>Virtools Dev	</TD><TD>www.virtools.com</TD></TR>

<TR><TD>Web Technology Corporation</TD>	<TD>Optpix iMageStudio</TD>	<TD>www.optpix.com</TD></TR></TABLE>

<BR>	<!--Footer Start-->




</td>





	
