A { cursor:hand; }
A:link { color:#000000; }
A:visited { color:#000000; }
A:hover { color:#AAAAAA; }
H1 { font: bold 14pt Arial; margin-bottom:6; }
BODY { font: normal 9pt Arial; }
LEGEND { font: bold 9pt Arial; letter-spacing: 1px; }
FIELDSET { font: normal 9pt Arial; border-color: #CC0000; }
UL { list-style-image:url(usb.gif); margin-left:15; margin-top:0;margin-bottom:0; vertical-align:middle; }
DL { margin-left:15; margin-top:0; text-indent:-15; margin-bottom:7; }
DT { margin-top:5; }
PRE { margin-top:0; margin-bottom:0; background-color:#DDDDDD; padding-top:4; padding-bottom:4; padding-left:4; padding-right:4; }
TH { font: bold 10pt Arial; margin-bottom:2; background:#DDDDDD;}
TD { font: normal 9pt Arial; background:#EEEEEE; }
OL { margin-top:0; margin-bottom:4; }
.TOOLTIP { position:absolute; font: normal 8pt Arial; padding: 0 3; border: 1px solid #000000; background: #FFFFCC; z-index:5; }
.HOTSPOT { color:#707070; }
.BLOCKHEADER { font: bold 9pt Arial; padding-top:6; }
.BLOCK { margin-left:15; margin-right:15; font: normal 9pt Arial; padding-bottom:6; }
.SYNTAX { padding: 10 10; background:#E7EEFF; }
.PAGEHEADER { background:#9CCFFF; color:#000000; font: italic 9pt Arial; margin-left:-10px; margin-top:-15px; margin-right:-10px; padding:5 5; }
.ERRDEF { word-wrap:break-word; }