A:link      { color:AAAAAA; }
A:visited   { color:AAAAAA; }
A:hover     { color:777777; }
BODY        { color:FFFFFF; background-color:000000; font:normal 12pt Arial; }
TH          { font:bold 9pt Arial; background-color:000077; color:FFFFFF; }
TD          { font:normal 9pt Arial;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;margin-right:0;padding-right:0; }
FORM        { margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0; }
INPUT       { color:FFFFFF; background-color:000000; font:normal 8pt Arial; }
TEXTAREA    { color:FFFFFF; background-color:000000; font:normal 8pt Arial; }
SELECT      { color:FFFFFF; background-color:000000; font:normal 8pt Arial; }
.ROW0       { background-color:000000; }
.ROW1       { background-color:222222; }
.HAND       { cursor:hand; }
.ROWHEAD    { border-bottom:1px solid white; text-align:left; font-style:italic; }
.ROWFOOT    { border-top:1px solid white; font-style:italic; }
.MENUSTYLE  { position:absolute; background-color:#000000; color:#00FF00; font:normal 10pt Arial; border:2px outset #00FF00; }
.MENUTEXT   { cursor:default; background-color:#000000; color:#00FF00; font:normal 10pt Arial; }
